net.desktop/net.desktop/net.desktop.Windows/Service References/WebServicePostulacion/PostulacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PostulacionWS" targetNamespace="http://ws.cem.pft8461.duoc.cl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.huevoscopita.cl:80/webservice/PostulacionWS?xsd=1" namespace="http://ws.cem.pft8461.duoc.cl/" />
    </xsd:schema>
  </types>
  <message name="editPostulacion">
    <part name="parameters" element="tns:editPostulacion" />
  </message>
  <message name="findPostulacion">
    <part name="parameters" element="tns:findPostulacion" />
  </message>
  <message name="findPostulacionResponse">
    <part name="parameters" element="tns:findPostulacionResponse" />
  </message>
  <message name="createPostulacion">
    <part name="parameters" element="tns:createPostulacion" />
  </message>
  <message name="findFullAllPostulacion">
    <part name="parameters" element="tns:findFullAllPostulacion" />
  </message>
  <message name="findFullAllPostulacionResponse">
    <part name="parameters" element="tns:findFullAllPostulacionResponse" />
  </message>
  <message name="findPostulacionFullPor">
    <part name="parameters" element="tns:findPostulacionFullPor" />
  </message>
  <message name="findPostulacionFullPorResponse">
    <part name="parameters" element="tns:findPostulacionFullPorResponse" />
  </message>
  <message name="findPostulacionPor">
    <part name="parameters" element="tns:findPostulacionPor" />
  </message>
  <message name="findPostulacionPorResponse">
    <part name="parameters" element="tns:findPostulacionPorResponse" />
  </message>
  <message name="findAllPostulacion">
    <part name="parameters" element="tns:findAllPostulacion" />
  </message>
  <message name="findAllPostulacionResponse">
    <part name="parameters" element="tns:findAllPostulacionResponse" />
  </message>
  <message name="removePostulacion">
    <part name="parameters" element="tns:removePostulacion" />
  </message>
  <message name="findFullPostulacion">
    <part name="parameters" element="tns:findFullPostulacion" />
  </message>
  <message name="findFullPostulacionResponse">
    <part name="parameters" element="tns:findFullPostulacionResponse" />
  </message>
  <portType name="PostulacionWS">
    <operation name="editPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/editPostulacion" message="tns:editPostulacion" />
    </operation>
    <operation name="findPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionRequest" message="tns:findPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionResponse" message="tns:findPostulacionResponse" />
    </operation>
    <operation name="createPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/createPostulacion" message="tns:createPostulacion" />
    </operation>
    <operation name="findFullAllPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findFullAllPostulacionRequest" message="tns:findFullAllPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findFullAllPostulacionResponse" message="tns:findFullAllPostulacionResponse" />
    </operation>
    <operation name="findPostulacionFullPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionFullPorRequest" message="tns:findPostulacionFullPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionFullPorResponse" message="tns:findPostulacionFullPorResponse" />
    </operation>
    <operation name="findPostulacionPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionPorRequest" message="tns:findPostulacionPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findPostulacionPorResponse" message="tns:findPostulacionPorResponse" />
    </operation>
    <operation name="findAllPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findAllPostulacionRequest" message="tns:findAllPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findAllPostulacionResponse" message="tns:findAllPostulacionResponse" />
    </operation>
    <operation name="removePostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/removePostulacion" message="tns:removePostulacion" />
    </operation>
    <operation name="findFullPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findFullPostulacionRequest" message="tns:findFullPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/PostulacionWS/findFullPostulacionResponse" message="tns:findFullPostulacionResponse" />
    </operation>
  </portType>
  <binding name="PostulacionWSPortBinding" type="tns:PostulacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="editPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findFullAllPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findPostulacionFullPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findPostulacionPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findAllPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removePostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findFullPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PostulacionWS">
    <port name="PostulacionWSPort" binding="tns:PostulacionWSPortBinding">
      <soap:address location="http://ws.huevoscopita.cl:80/webservice/PostulacionWS" />
    </port>
  </service>
</definitions>