net.desktop/net.desktop/net.desktop.Windows/Service References/WebServicePostulacion/PostulacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createPostulacion" type="tns:createPostulacion" />
  <xs:element name="editPostulacion" type="tns:editPostulacion" />
  <xs:element name="findAllPostulacion" type="tns:findAllPostulacion" />
  <xs:element name="findAllPostulacionResponse" type="tns:findAllPostulacionResponse" />
  <xs:element name="findPostulacion" type="tns:findPostulacion" />
  <xs:element name="findPostulacionPor" type="tns:findPostulacionPor" />
  <xs:element name="findPostulacionPorResponse" type="tns:findPostulacionPorResponse" />
  <xs:element name="findPostulacionResponse" type="tns:findPostulacionResponse" />
  <xs:element name="postulacion" type="tns:postulacion" />
  <xs:element name="removePostulacion" type="tns:removePostulacion" />
  <xs:complexType name="findPostulacionPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findPostulacionPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:postulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="postulacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idEstado" type="xs:int" />
      <xs:element name="idFamilia" type="xs:int" />
      <xs:element name="idParticipacion" type="xs:int" />
      <xs:element minOccurs="0" name="idPostulacion" type="xs:decimal" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removePostulacion">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createPostulacion">
    <xs:sequence>
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element name="id_familia" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_participacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editPostulacion">
    <xs:sequence>
      <xs:element name="id_postulacion" type="xs:int" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element name="id_familia" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_participacion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findPostulacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findPostulacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:postulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllPostulacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllPostulacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:postulacion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>