java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/AlumnoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="alumno" type="tns:alumno"/>

<xs:element name="createAlumno" type="tns:createAlumno"/>

<xs:element name="editAlumno" type="tns:editAlumno"/>

<xs:element name="findAllAlumno" type="tns:findAllAlumno"/>

<xs:element name="findAllAlumnoResponse" type="tns:findAllAlumnoResponse"/>

<xs:element name="findAlumno" type="tns:findAlumno"/>

<xs:element name="findAlumnoPor" type="tns:findAlumnoPor"/>

<xs:element name="findAlumnoPorResponse" type="tns:findAlumnoPorResponse"/>

<xs:element name="findAlumnoResponse" type="tns:findAlumnoResponse"/>

<xs:element name="findFullAllAlumno" type="tns:findFullAllAlumno"/>

<xs:element name="findFullAllAlumnoResponse" type="tns:findFullAllAlumnoResponse"/>

<xs:element name="removeAlumno" type="tns:removeAlumno"/>

<xs:element name="seleccionarAlumnoFull" type="tns:seleccionarAlumnoFull"/>

<xs:element name="seleccionarAlumnoFullPor" type="tns:seleccionarAlumnoFullPor"/>

<xs:element name="seleccionarAlumnoFullPorResponse" type="tns:seleccionarAlumnoFullPorResponse"/>

<xs:element name="seleccionarAlumnoFullResponse" type="tns:seleccionarAlumnoFullResponse"/>

<xs:complexType name="editAlumno">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="id_carrera" type="xs:int"/>
<xs:element name="semestre" type="xs:int"/>
<xs:element name="id_alumno" type="xs:int"/>
<xs:element name="ingreso" type="xs:int"/>
<xs:element name="moroso" type="xs:int"/>
<xs:element name="vigente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarAlumnoFullPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarAlumnoFullPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idAlumno" type="xs:decimal" minOccurs="0"/>
<xs:element name="idCarrera" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="ingreso" type="xs:integer" minOccurs="0"/>
<xs:element name="moroso" type="xs:int"/>
<xs:element name="nombreCarrera" type="xs:string" minOccurs="0"/>
<xs:element name="nombreUsuario" type="xs:string" minOccurs="0"/>
<xs:element name="semestre" type="xs:integer" minOccurs="0"/>
<xs:element name="vigente" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarAlumnoFull">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="seleccionarAlumnoFullResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullAllAlumno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findFullAllAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAlumno">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="id_carrera" type="xs:int"/>
<xs:element name="semestre" type="xs:int"/>
<xs:element name="ingreso" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeAlumno">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAlumno">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAlumnoPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAlumnoPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllAlumno">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>