java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/DocumentoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createDocumento" type="tns:createDocumento"/>

<xs:element name="documento" type="tns:documento"/>

<xs:element name="editDocumento" type="tns:editDocumento"/>

<xs:element name="estadoDocumento" type="tns:estadoDocumento"/>

<xs:element name="familia" type="tns:familia"/>

<xs:element name="findAllDocumento" type="tns:findAllDocumento"/>

<xs:element name="findAllDocumentoResponse" type="tns:findAllDocumentoResponse"/>

<xs:element name="findDocumento" type="tns:findDocumento"/>

<xs:element name="findDocumentoPor" type="tns:findDocumentoPor"/>

<xs:element name="findDocumentoPorResponse" type="tns:findDocumentoPorResponse"/>

<xs:element name="findDocumentoResponse" type="tns:findDocumentoResponse"/>

<xs:element name="postulacion" type="tns:postulacion"/>

<xs:element name="removeDocumento" type="tns:removeDocumento"/>

<xs:element name="tipoDocumento" type="tns:tipoDocumento"/>

<xs:complexType name="removeDocumento">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDocumento">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:documento" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="documento">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="idDocumento" type="xs:decimal" minOccurs="0"/>
<xs:element name="idEstado" type="tns:estadoDocumento" minOccurs="0"/>
<xs:element name="idFamilia" type="tns:familia" minOccurs="0"/>
<xs:element name="idTipoDocumento" type="tns:tipoDocumento" minOccurs="0"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoDocumento">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="familia">
<xs:sequence>
<xs:element name="idCentro" type="xs:int"/>
<xs:element name="idEstado" type="xs:int"/>
<xs:element name="idFamilia" type="xs:decimal" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="postulacion" type="tns:postulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulacion">
<xs:sequence>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEstado" type="xs:int"/>
<xs:element name="idFamilia" type="xs:int"/>
<xs:element name="idParticipacion" type="xs:int"/>
<xs:element name="idPostulacion" type="xs:decimal" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tipoDocumento">
<xs:sequence>
<xs:element name="idTipoDocumento" type="xs:decimal" minOccurs="0"/>
<xs:element name="tipoDocumento" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editDocumento">
<xs:sequence>
<xs:element name="id_documento" type="xs:int"/>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
<xs:element name="id_familia" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="id_tipo_documento" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id_estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDocumento">
<xs:sequence>
<xs:element name="ruta" type="xs:string" minOccurs="0"/>
<xs:element name="id_familia" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="id_tipo_documento" type="xs:int"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id_estado" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllDocumento">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllDocumentoResponse">
<xs:sequence>
<xs:element name="return" type="tns:documento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDocumentoPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDocumentoPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:documento" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>