java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/EstadoFamiliaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createEstadoFamilia" type="tns:createEstadoFamilia"/>

<xs:element name="editEstadoFamilia" type="tns:editEstadoFamilia"/>

<xs:element name="estadoFamilia" type="tns:estadoFamilia"/>

<xs:element name="findAllEstadoFamilia" type="tns:findAllEstadoFamilia"/>

<xs:element name="findAllEstadoFamiliaResponse" type="tns:findAllEstadoFamiliaResponse"/>

<xs:element name="findEstadoFamilia" type="tns:findEstadoFamilia"/>

<xs:element name="findEstadoFamiliaPor" type="tns:findEstadoFamiliaPor"/>

<xs:element name="findEstadoFamiliaPorResponse" type="tns:findEstadoFamiliaPorResponse"/>

<xs:element name="findEstadoFamiliaResponse" type="tns:findEstadoFamiliaResponse"/>

<xs:element name="removeEstadoFamilia" type="tns:removeEstadoFamilia"/>

<xs:complexType name="findEstadoFamiliaPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoFamiliaPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoFamilia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoFamilia">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoFamilia">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoFamilia">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoFamilia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoFamilia">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEstadoFamilia">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEstadoFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoFamilia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEstadoFamilia">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>