java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/FamiliaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createFamilia" type="tns:createFamilia"/>

<xs:element name="editFamilia" type="tns:editFamilia"/>

<xs:element name="familia" type="tns:familia"/>

<xs:element name="findAllFamilia" type="tns:findAllFamilia"/>

<xs:element name="findAllFamiliaResponse" type="tns:findAllFamiliaResponse"/>

<xs:element name="findFamilia" type="tns:findFamilia"/>

<xs:element name="findFamiliaPor" type="tns:findFamiliaPor"/>

<xs:element name="findFamiliaPorResponse" type="tns:findFamiliaPorResponse"/>

<xs:element name="findFamiliaResponse" type="tns:findFamiliaResponse"/>

<xs:element name="findFullAllFamilia" type="tns:findFullAllFamilia"/>

<xs:element name="findFullAllFamiliaResponse" type="tns:findFullAllFamiliaResponse"/>

<xs:element name="findFullFamilia" type="tns:findFullFamilia"/>

<xs:element name="findFullFamiliaPor" type="tns:findFullFamiliaPor"/>

<xs:element name="findFullFamiliaPorResponse" type="tns:findFullFamiliaPorResponse"/>

<xs:element name="findFullFamiliaResponse" type="tns:findFullFamiliaResponse"/>

<xs:element name="removeFamilia" type="tns:removeFamilia"/>

<xs:complexType name="removeFamilia">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullFamilia">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="familia">
<xs:sequence>
<xs:element name="apellidoMat" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPat" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idCentro" type="xs:int"/>
<xs:element name="idEstado" type="xs:int"/>
<xs:element name="idFamilia" type="xs:decimal" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_familia" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullFamiliaPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullFamiliaPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFamilia">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="id_centro" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_familia" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFamiliaPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFamiliaPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullAllFamilia">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findFullAllFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllFamilia">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFamilia">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFamiliaResponse">
<xs:sequence>
<xs:element name="return" type="tns:familia" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editFamilia">
<xs:sequence>
<xs:element name="id_familia" type="xs:int"/>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="id_centro" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="direccion" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_familia" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>