java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/MenuWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createMenu" type="tns:createMenu"/>

<xs:element name="editMenu" type="tns:editMenu"/>

<xs:element name="findAllMenu" type="tns:findAllMenu"/>

<xs:element name="findAllMenuResponse" type="tns:findAllMenuResponse"/>

<xs:element name="findMenu" type="tns:findMenu"/>

<xs:element name="findMenuPor" type="tns:findMenuPor"/>

<xs:element name="findMenuPorResponse" type="tns:findMenuPorResponse"/>

<xs:element name="findMenuResponse" type="tns:findMenuResponse"/>

<xs:element name="menu" type="tns:menu"/>

<xs:element name="removeMenu" type="tns:removeMenu"/>

<xs:complexType name="findMenu">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:sequence>
<xs:element name="idMenu" type="xs:decimal" minOccurs="0"/>
<xs:element name="orden" type="xs:int"/>
<xs:element name="perfilUsuario" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editMenu">
<xs:sequence>
<xs:element name="id_menu" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
<xs:element name="orden" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createMenu">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeMenu">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllMenu">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllMenuResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>