java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/NotaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createNota" type="tns:createNota"/>

<xs:element name="editNota" type="tns:editNota"/>

<xs:element name="findAllNota" type="tns:findAllNota"/>

<xs:element name="findAllNotaResponse" type="tns:findAllNotaResponse"/>

<xs:element name="findNota" type="tns:findNota"/>

<xs:element name="findNotaPor" type="tns:findNotaPor"/>

<xs:element name="findNotaPorResponse" type="tns:findNotaPorResponse"/>

<xs:element name="findNotaResponse" type="tns:findNotaResponse"/>

<xs:element name="nota" type="tns:nota"/>

<xs:element name="removeNota" type="tns:removeNota"/>

<xs:complexType name="findAllNota">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllNotaResponse">
<xs:sequence>
<xs:element name="return" type="tns:nota" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nota">
<xs:sequence>
<xs:element name="idCurso" type="xs:int"/>
<xs:element name="idNota" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPostulacion" type="xs:int"/>
<xs:element name="nota" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNotaPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNotaPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:nota" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNota">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findNotaResponse">
<xs:sequence>
<xs:element name="return" type="tns:nota" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createNota">
<xs:sequence>
<xs:element name="id_postulacion" type="xs:int"/>
<xs:element name="id_curso" type="xs:int"/>
<xs:element name="nota" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editNota">
<xs:sequence>
<xs:element name="id_nota" type="xs:int"/>
<xs:element name="id_postulacion" type="xs:int"/>
<xs:element name="id_curso" type="xs:int"/>
<xs:element name="nota" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeNota">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>