java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/ParticipacionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createParticipacion" type="tns:createParticipacion"/>

<xs:element name="editParticipacion" type="tns:editParticipacion"/>

<xs:element name="findAllParticipacion" type="tns:findAllParticipacion"/>

<xs:element name="findAllParticipacionResponse" type="tns:findAllParticipacionResponse"/>

<xs:element name="findFullAllParticipacion" type="tns:findFullAllParticipacion"/>

<xs:element name="findFullAllParticipacionResponse" type="tns:findFullAllParticipacionResponse"/>

<xs:element name="findFullParticipacion" type="tns:findFullParticipacion"/>

<xs:element name="findFullParticipacionPor" type="tns:findFullParticipacionPor"/>

<xs:element name="findFullParticipacionPorResponse" type="tns:findFullParticipacionPorResponse"/>

<xs:element name="findFullParticipacionResponse" type="tns:findFullParticipacionResponse"/>

<xs:element name="findParticipacion" type="tns:findParticipacion"/>

<xs:element name="findParticipacionPor" type="tns:findParticipacionPor"/>

<xs:element name="findParticipacionPorResponse" type="tns:findParticipacionPorResponse"/>

<xs:element name="findParticipacionResponse" type="tns:findParticipacionResponse"/>

<xs:element name="participacion" type="tns:participacion"/>

<xs:element name="removeParticipacion" type="tns:removeParticipacion"/>

<xs:complexType name="removeParticipacion">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllParticipacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="participacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idCentro" type="xs:int"/>
<xs:element name="idEstado" type="xs:int"/>
<xs:element name="idParticipacion" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPrograma" type="xs:int"/>
<xs:element name="idTipoPrograma" type="xs:int"/>
<xs:element name="maxcupos" type="xs:int"/>
<xs:element name="mincupos" type="xs:int"/>
<xs:element name="nombreCentro" type="xs:string" minOccurs="0"/>
<xs:element name="nombrePrograma" type="xs:string" minOccurs="0"/>
<xs:element name="nombre_revisor" type="xs:string" minOccurs="0"/>
<xs:element name="postulacionesSeleccionadas" type="xs:int"/>
<xs:element name="revision" type="xs:string" minOccurs="0"/>
<xs:element name="revisor" type="xs:int"/>
<xs:element name="tipoPrograma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullParticipacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullParticipacionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullParticipacionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createParticipacion">
<xs:sequence>
<xs:element name="id_centro" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="id_programa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editParticipacion">
<xs:sequence>
<xs:element name="id_particiapcion" type="xs:int"/>
<xs:element name="id_centro" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="id_programa" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findParticipacionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findParticipacionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findParticipacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullAllParticipacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findFullAllParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:participacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>