java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/PerfilUsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createPerfilUsuario" type="tns:createPerfilUsuario"/>

<xs:element name="editPerfilUsuario" type="tns:editPerfilUsuario"/>

<xs:element name="findAllPerfilUsuario" type="tns:findAllPerfilUsuario"/>

<xs:element name="findAllPerfilUsuarioResponse" type="tns:findAllPerfilUsuarioResponse"/>

<xs:element name="findPerfilUsuario" type="tns:findPerfilUsuario"/>

<xs:element name="findPerfilUsuarioPor" type="tns:findPerfilUsuarioPor"/>

<xs:element name="findPerfilUsuarioPorResponse" type="tns:findPerfilUsuarioPorResponse"/>

<xs:element name="findPerfilUsuarioResponse" type="tns:findPerfilUsuarioResponse"/>

<xs:element name="perfilUsuario" type="tns:perfilUsuario"/>

<xs:element name="removePerfilUsuario" type="tns:removePerfilUsuario"/>

<xs:complexType name="findPerfilUsuarioPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPerfilUsuarioPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfilUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfilUsuario">
<xs:sequence>
<xs:element name="idPerfilUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombrePerfil" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPerfilUsuario">
<xs:sequence>
<xs:element name="id_perfil_usuario" type="xs:int"/>
<xs:element name="nombre_perfil" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPerfilUsuario">
<xs:sequence>
<xs:element name="nombre_perfil" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPerfilUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPerfilUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfilUsuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePerfilUsuario">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllPerfilUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllPerfilUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:perfilUsuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>