java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/RegionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createRegion" type="tns:createRegion"/>

<xs:element name="editRegion" type="tns:editRegion"/>

<xs:element name="findAllRegion" type="tns:findAllRegion"/>

<xs:element name="findAllRegionResponse" type="tns:findAllRegionResponse"/>

<xs:element name="findRegion" type="tns:findRegion"/>

<xs:element name="findRegionPor" type="tns:findRegionPor"/>

<xs:element name="findRegionPorResponse" type="tns:findRegionPorResponse"/>

<xs:element name="findRegionResponse" type="tns:findRegionResponse"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="removeRegion" type="tns:removeRegion"/>

<xs:complexType name="findRegionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRegionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idPais" type="xs:int"/>
<xs:element name="idRegion" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombreRegion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createRegion">
<xs:sequence>
<xs:element name="nombre_region" type="xs:string" minOccurs="0"/>
<xs:element name="id_pais" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeRegion">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRegion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllRegion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllRegionResponse">
<xs:sequence>
<xs:element name="return" type="tns:region" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editRegion">
<xs:sequence>
<xs:element name="id_region" type="xs:int"/>
<xs:element name="nombre_region" type="xs:string" minOccurs="0"/>
<xs:element name="id_pais" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>