java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl_80/webservice/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createUsuario" type="tns:createUsuario"/>

<xs:element name="editUsuario" type="tns:editUsuario"/>

<xs:element name="findAllUsuarios" type="tns:findAllUsuarios"/>

<xs:element name="findAllUsuariosResponse" type="tns:findAllUsuariosResponse"/>

<xs:element name="findUsuario" type="tns:findUsuario"/>

<xs:element name="findUsuarioPor" type="tns:findUsuarioPor"/>

<xs:element name="findUsuarioPorResponse" type="tns:findUsuarioPorResponse"/>

<xs:element name="findUsuarioResponse" type="tns:findUsuarioResponse"/>

<xs:element name="removeUsuario" type="tns:removeUsuario"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="findAllUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellidoMat" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPat" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="creado" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="idPerfilUsuario" type="xs:int"/>
<xs:element name="idUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_pat" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_mat" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuario">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_pat" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_mat" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>