net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceEstadoPostulacion/EstadoPostulacionWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="EstadoPostulacionWS" targetNamespace="http://ws.cem.pft8461.duoc.cl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.huevoscopita.cl:80/webservice/EstadoPostulacionWS?xsd=1" namespace="http://ws.cem.pft8461.duoc.cl/" />
    </xsd:schema>
  </types>
  <message name="createEstadoPostulacion">
    <part name="parameters" element="tns:createEstadoPostulacion" />
  </message>
  <message name="findEstadoPostulacion">
    <part name="parameters" element="tns:findEstadoPostulacion" />
  </message>
  <message name="findEstadoPostulacionResponse">
    <part name="parameters" element="tns:findEstadoPostulacionResponse" />
  </message>
  <message name="editEstadoPostulacion">
    <part name="parameters" element="tns:editEstadoPostulacion" />
  </message>
  <message name="findEstadoPostulacionPor">
    <part name="parameters" element="tns:findEstadoPostulacionPor" />
  </message>
  <message name="findEstadoPostulacionPorResponse">
    <part name="parameters" element="tns:findEstadoPostulacionPorResponse" />
  </message>
  <message name="removeEstadoPostulacion">
    <part name="parameters" element="tns:removeEstadoPostulacion" />
  </message>
  <message name="findAllEstadoPostulacion">
    <part name="parameters" element="tns:findAllEstadoPostulacion" />
  </message>
  <message name="findAllEstadoPostulacionResponse">
    <part name="parameters" element="tns:findAllEstadoPostulacionResponse" />
  </message>
  <portType name="EstadoPostulacionWS">
    <operation name="createEstadoPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/createEstadoPostulacion" message="tns:createEstadoPostulacion" />
    </operation>
    <operation name="findEstadoPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findEstadoPostulacionRequest" message="tns:findEstadoPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findEstadoPostulacionResponse" message="tns:findEstadoPostulacionResponse" />
    </operation>
    <operation name="editEstadoPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/editEstadoPostulacion" message="tns:editEstadoPostulacion" />
    </operation>
    <operation name="findEstadoPostulacionPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findEstadoPostulacionPorRequest" message="tns:findEstadoPostulacionPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findEstadoPostulacionPorResponse" message="tns:findEstadoPostulacionPorResponse" />
    </operation>
    <operation name="removeEstadoPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/removeEstadoPostulacion" message="tns:removeEstadoPostulacion" />
    </operation>
    <operation name="findAllEstadoPostulacion">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findAllEstadoPostulacionRequest" message="tns:findAllEstadoPostulacion" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoPostulacionWS/findAllEstadoPostulacionResponse" message="tns:findAllEstadoPostulacionResponse" />
    </operation>
  </portType>
  <binding name="EstadoPostulacionWSPortBinding" type="tns:EstadoPostulacionWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="createEstadoPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findEstadoPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editEstadoPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findEstadoPostulacionPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeEstadoPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findAllEstadoPostulacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="EstadoPostulacionWS">
    <port name="EstadoPostulacionWSPort" binding="tns:EstadoPostulacionWSPortBinding">
      <soap:address location="http://ws.huevoscopita.cl:80/webservice/EstadoPostulacionWS" />
    </port>
  </service>
</definitions>