net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceEstadoPostulacion/EstadoPostulacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createEstadoPostulacion" type="tns:createEstadoPostulacion" />
  <xs:element name="editEstadoPostulacion" type="tns:editEstadoPostulacion" />
  <xs:element name="estadoPostulacion" type="tns:estadoPostulacion" />
  <xs:element name="findAllEstadoPostulacion" type="tns:findAllEstadoPostulacion" />
  <xs:element name="findAllEstadoPostulacionResponse" type="tns:findAllEstadoPostulacionResponse" />
  <xs:element name="findEstadoPostulacion" type="tns:findEstadoPostulacion" />
  <xs:element name="findEstadoPostulacionPor" type="tns:findEstadoPostulacionPor" />
  <xs:element name="findEstadoPostulacionPorResponse" type="tns:findEstadoPostulacionPorResponse" />
  <xs:element name="findEstadoPostulacionResponse" type="tns:findEstadoPostulacionResponse" />
  <xs:element name="removeEstadoPostulacion" type="tns:removeEstadoPostulacion" />
  <xs:complexType name="removeEstadoPostulacion">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoPostulacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoPostulacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:estadoPostulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoPostulacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEstadoPostulacion">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoPostulacionPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoPostulacionPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoPostulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllEstadoPostulacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllEstadoPostulacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoPostulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editEstadoPostulacion">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>