net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceCentro/CentroWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="CentroWS" targetNamespace="http://ws.cem.pft8461.duoc.cl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.huevoscopita.cl:80/webservice/CentroWS?xsd=1" namespace="http://ws.cem.pft8461.duoc.cl/" />
    </xsd:schema>
  </types>
  <message name="findCentroPor">
    <part name="parameters" element="tns:findCentroPor" />
  </message>
  <message name="findCentroPorResponse">
    <part name="parameters" element="tns:findCentroPorResponse" />
  </message>
  <message name="createCentro">
    <part name="parameters" element="tns:createCentro" />
  </message>
  <message name="removeCentro">
    <part name="parameters" element="tns:removeCentro" />
  </message>
  <message name="findCentro">
    <part name="parameters" element="tns:findCentro" />
  </message>
  <message name="findCentroResponse">
    <part name="parameters" element="tns:findCentroResponse" />
  </message>
  <message name="findAllCentro">
    <part name="parameters" element="tns:findAllCentro" />
  </message>
  <message name="findAllCentroResponse">
    <part name="parameters" element="tns:findAllCentroResponse" />
  </message>
  <message name="editCentro">
    <part name="parameters" element="tns:editCentro" />
  </message>
  <message name="seleccionarCentroFullPor">
    <part name="parameters" element="tns:seleccionarCentroFullPor" />
  </message>
  <message name="seleccionarCentroFullPorResponse">
    <part name="parameters" element="tns:seleccionarCentroFullPorResponse" />
  </message>
  <message name="seleccionarCentroFull">
    <part name="parameters" element="tns:seleccionarCentroFull" />
  </message>
  <message name="seleccionarCentroFullResponse">
    <part name="parameters" element="tns:seleccionarCentroFullResponse" />
  </message>
  <message name="seleccionarAllCentroFull">
    <part name="parameters" element="tns:seleccionarAllCentroFull" />
  </message>
  <message name="seleccionarAllCentroFullResponse">
    <part name="parameters" element="tns:seleccionarAllCentroFullResponse" />
  </message>
  <portType name="CentroWS">
    <operation name="findCentroPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroPorRequest" message="tns:findCentroPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroPorResponse" message="tns:findCentroPorResponse" />
    </operation>
    <operation name="createCentro">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/createCentro" message="tns:createCentro" />
    </operation>
    <operation name="removeCentro">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/removeCentro" message="tns:removeCentro" />
    </operation>
    <operation name="findCentro">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroRequest" message="tns:findCentro" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroResponse" message="tns:findCentroResponse" />
    </operation>
    <operation name="findAllCentro">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findAllCentroRequest" message="tns:findAllCentro" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findAllCentroResponse" message="tns:findAllCentroResponse" />
    </operation>
    <operation name="editCentro">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/editCentro" message="tns:editCentro" />
    </operation>
    <operation name="seleccionarCentroFullPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarCentroFullPorRequest" message="tns:seleccionarCentroFullPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarCentroFullPorResponse" message="tns:seleccionarCentroFullPorResponse" />
    </operation>
    <operation name="seleccionarCentroFull">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarCentroFullRequest" message="tns:seleccionarCentroFull" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarCentroFullResponse" message="tns:seleccionarCentroFullResponse" />
    </operation>
    <operation name="seleccionarAllCentroFull">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarAllCentroFullRequest" message="tns:seleccionarAllCentroFull" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/seleccionarAllCentroFullResponse" message="tns:seleccionarAllCentroFullResponse" />
    </operation>
  </portType>
  <binding name="CentroWSPortBinding" type="tns:CentroWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="findCentroPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createCentro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="removeCentro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findCentro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findAllCentro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editCentro">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="seleccionarCentroFullPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seleccionarCentroFull">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="seleccionarAllCentroFull">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CentroWS">
    <port name="CentroWSPort" binding="tns:CentroWSPortBinding">
      <soap:address location="http://ws.huevoscopita.cl:80/webservice/CentroWS" />
    </port>
  </service>
</definitions>