java.web/src/conf/xml-resources/web-service-references/CursoWS/wsdl/ws.huevoscopita.cl_80/webservice/CursoWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createCurso" type="tns:createCurso"/>

<xs:element name="curso" type="tns:curso"/>

<xs:element name="editCurso" type="tns:editCurso"/>

<xs:element name="findAllCurso" type="tns:findAllCurso"/>

<xs:element name="findAllCursoResponse" type="tns:findAllCursoResponse"/>

<xs:element name="findCurso" type="tns:findCurso"/>

<xs:element name="findCursoPor" type="tns:findCursoPor"/>

<xs:element name="findCursoPorResponse" type="tns:findCursoPorResponse"/>

<xs:element name="findCursoResponse" type="tns:findCursoResponse"/>

<xs:element name="nota" type="tns:nota"/>

<xs:element name="removeCurso" type="tns:removeCurso"/>

<xs:complexType name="removeCurso">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCurso">
<xs:sequence>
<xs:element name="id_curso" type="xs:int"/>
<xs:element name="id_programa" type="xs:int"/>
<xs:element name="nombre_curso" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCurso">
<xs:sequence>
<xs:element name="id_programa" type="xs:int"/>
<xs:element name="nombre_curso" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCurso">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="curso">
<xs:sequence>
<xs:element name="idCurso" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPrograma" type="xs:int"/>
<xs:element name="nombreCurso" type="xs:string" minOccurs="0"/>
<xs:element name="nota" type="tns:nota" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="nota">
<xs:sequence>
<xs:element name="idCurso" type="xs:int"/>
<xs:element name="idNota" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPostulacion" type="xs:int"/>
<xs:element name="nota" type="xs:integer" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCurso">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCursoResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCursoPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCursoPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:curso" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>