java.web/src/conf/xml-resources/web-service-references/RegionWS/wsdl/ws.huevoscopita.cl/webservice/RegionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="RegionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/RegionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editRegion">
<part name="parameters" element="tns:editRegion"/>
</message>
<message name="removeRegion">
<part name="parameters" element="tns:removeRegion"/>
</message>
<message name="findRegion">
<part name="parameters" element="tns:findRegion"/>
</message>
<message name="findRegionResponse">
<part name="parameters" element="tns:findRegionResponse"/>
</message>
<message name="findRegionPor">
<part name="parameters" element="tns:findRegionPor"/>
</message>
<message name="findRegionPorResponse">
<part name="parameters" element="tns:findRegionPorResponse"/>
</message>
<message name="createRegion">
<part name="parameters" element="tns:createRegion"/>
</message>
<message name="findAllRegion">
<part name="parameters" element="tns:findAllRegion"/>
</message>
<message name="findAllRegionResponse">
<part name="parameters" element="tns:findAllRegionResponse"/>
</message>
<portType name="RegionWS">
<operation name="editRegion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/editRegion" message="tns:editRegion"/>
</operation>
<operation name="removeRegion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/removeRegion" message="tns:removeRegion"/>
</operation>
<operation name="findRegion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findRegionRequest" message="tns:findRegion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findRegionResponse" message="tns:findRegionResponse"/>
</operation>
<operation name="findRegionPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findRegionPorRequest" message="tns:findRegionPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findRegionPorResponse" message="tns:findRegionPorResponse"/>
</operation>
<operation name="createRegion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/createRegion" message="tns:createRegion"/>
</operation>
<operation name="findAllRegion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findAllRegionRequest" message="tns:findAllRegion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/RegionWS/findAllRegionResponse" message="tns:findAllRegionResponse"/>
</operation>
</portType>
<binding name="RegionWSPortBinding" type="tns:RegionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRegionPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllRegion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="RegionWS">
<port name="RegionWSPort" binding="tns:RegionWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/RegionWS"/>
</port>
</service>
</definitions>