java.web/src/conf/xml-resources/web-service-references/EstadoProgramaWS/wsdl/ws.huevoscopita.cl/webservice/EstadoProgramaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="EstadoProgramaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/EstadoProgramaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editEstadoPrograma">
<part name="parameters" element="tns:editEstadoPrograma"/>
</message>
<message name="removeEstadoPrograma">
<part name="parameters" element="tns:removeEstadoPrograma"/>
</message>
<message name="createEstadoPrograma">
<part name="parameters" element="tns:createEstadoPrograma"/>
</message>
<message name="findAllEstadoPrograma">
<part name="parameters" element="tns:findAllEstadoPrograma"/>
</message>
<message name="findAllEstadoProgramaResponse">
<part name="parameters" element="tns:findAllEstadoProgramaResponse"/>
</message>
<message name="findEstadoProgramaPor">
<part name="parameters" element="tns:findEstadoProgramaPor"/>
</message>
<message name="findEstadoProgramaPorResponse">
<part name="parameters" element="tns:findEstadoProgramaPorResponse"/>
</message>
<message name="findEstadoPrograma">
<part name="parameters" element="tns:findEstadoPrograma"/>
</message>
<message name="findEstadoProgramaResponse">
<part name="parameters" element="tns:findEstadoProgramaResponse"/>
</message>
<portType name="EstadoProgramaWS">
<operation name="editEstadoPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/editEstadoPrograma" message="tns:editEstadoPrograma"/>
</operation>
<operation name="removeEstadoPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/removeEstadoPrograma" message="tns:removeEstadoPrograma"/>
</operation>
<operation name="createEstadoPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/createEstadoPrograma" message="tns:createEstadoPrograma"/>
</operation>
<operation name="findAllEstadoPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findAllEstadoProgramaRequest" message="tns:findAllEstadoPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findAllEstadoProgramaResponse" message="tns:findAllEstadoProgramaResponse"/>
</operation>
<operation name="findEstadoProgramaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findEstadoProgramaPorRequest" message="tns:findEstadoProgramaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findEstadoProgramaPorResponse" message="tns:findEstadoProgramaPorResponse"/>
</operation>
<operation name="findEstadoPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findEstadoProgramaRequest" message="tns:findEstadoPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoProgramaWS/findEstadoProgramaResponse" message="tns:findEstadoProgramaResponse"/>
</operation>
</portType>
<binding name="EstadoProgramaWSPortBinding" type="tns:EstadoProgramaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editEstadoPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeEstadoPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createEstadoPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllEstadoPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEstadoProgramaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findEstadoPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EstadoProgramaWS">
<port name="EstadoProgramaWSPort" binding="tns:EstadoProgramaWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/EstadoProgramaWS"/>
</port>
</service>
</definitions>