java.web/src/java/META-INF/UsuarioWS.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="autenticar">
<part name="parameters" element="tns:autenticar"/>
</message>
<message name="autenticarResponse">
<part name="parameters" element="tns:autenticarResponse"/>
</message>
<message name="findAllUsuarios">
<part name="parameters" element="tns:findAllUsuarios"/>
</message>
<message name="findAllUsuariosResponse">
<part name="parameters" element="tns:findAllUsuariosResponse"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<portType name="UsuarioWS">
<operation name="editUsuario">
<input wsam:Action="http://ws/UsuarioWS/editUsuario" message="tns:editUsuario"/>
</operation>
<operation name="autenticar">
<input wsam:Action="http://ws/UsuarioWS/autenticarRequest" message="tns:autenticar"/>
<output wsam:Action="http://ws/UsuarioWS/autenticarResponse" message="tns:autenticarResponse"/>
</operation>
<operation name="findAllUsuarios">
<input wsam:Action="http://ws/UsuarioWS/findAllUsuariosRequest" message="tns:findAllUsuarios"/>
<output wsam:Action="http://ws/UsuarioWS/findAllUsuariosResponse" message="tns:findAllUsuariosResponse"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://ws/UsuarioWS/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://ws/UsuarioWS/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="createUsuario">
<input wsam:Action="http://ws/UsuarioWS/createUsuario" message="tns:createUsuario"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://ws/UsuarioWS/removeUsuario" message="tns:removeUsuario"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="autenticar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://ec2-13-58-3-235.us-east-2.compute.amazonaws.com:80/webservice/UsuarioWS"/>
</port>
</service>
</definitions>