java.web/src/conf/xml-resources/web-service-references/PerfilUsuarioWS/wsdl/ws.huevoscopita.cl/webservice/PerfilUsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="PerfilUsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/PerfilUsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editPerfilUsuario">
<part name="parameters" element="tns:editPerfilUsuario"/>
</message>
<message name="removePerfilUsuario">
<part name="parameters" element="tns:removePerfilUsuario"/>
</message>
<message name="findPerfilUsuario">
<part name="parameters" element="tns:findPerfilUsuario"/>
</message>
<message name="findPerfilUsuarioResponse">
<part name="parameters" element="tns:findPerfilUsuarioResponse"/>
</message>
<message name="findAllPerfilUsuario">
<part name="parameters" element="tns:findAllPerfilUsuario"/>
</message>
<message name="findAllPerfilUsuarioResponse">
<part name="parameters" element="tns:findAllPerfilUsuarioResponse"/>
</message>
<message name="createPerfilUsuario">
<part name="parameters" element="tns:createPerfilUsuario"/>
</message>
<message name="findPerfilUsuarioPor">
<part name="parameters" element="tns:findPerfilUsuarioPor"/>
</message>
<message name="findPerfilUsuarioPorResponse">
<part name="parameters" element="tns:findPerfilUsuarioPorResponse"/>
</message>
<portType name="PerfilUsuarioWS">
<operation name="editPerfilUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/editPerfilUsuario" message="tns:editPerfilUsuario"/>
</operation>
<operation name="removePerfilUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/removePerfilUsuario" message="tns:removePerfilUsuario"/>
</operation>
<operation name="findPerfilUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findPerfilUsuarioRequest" message="tns:findPerfilUsuario"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findPerfilUsuarioResponse" message="tns:findPerfilUsuarioResponse"/>
</operation>
<operation name="findAllPerfilUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findAllPerfilUsuarioRequest" message="tns:findAllPerfilUsuario"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findAllPerfilUsuarioResponse" message="tns:findAllPerfilUsuarioResponse"/>
</operation>
<operation name="createPerfilUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/createPerfilUsuario" message="tns:createPerfilUsuario"/>
</operation>
<operation name="findPerfilUsuarioPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findPerfilUsuarioPorRequest" message="tns:findPerfilUsuarioPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/PerfilUsuarioWS/findPerfilUsuarioPorResponse" message="tns:findPerfilUsuarioPorResponse"/>
</operation>
</portType>
<binding name="PerfilUsuarioWSPortBinding" type="tns:PerfilUsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editPerfilUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removePerfilUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findPerfilUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPerfilUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createPerfilUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findPerfilUsuarioPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PerfilUsuarioWS">
<port name="PerfilUsuarioWSPort" binding="tns:PerfilUsuarioWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/PerfilUsuarioWS"/>
</port>
</service>
</definitions>