java.web/src/conf/xml-resources/web-service-references/PostulacionWS/wsdl/ws.huevoscopita.cl_80/webservice/PostulacionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createPostulacion" type="tns:createPostulacion"/>

<xs:element name="editPostulacion" type="tns:editPostulacion"/>

<xs:element name="findAllPostulacion" type="tns:findAllPostulacion"/>

<xs:element name="findAllPostulacionResponse" type="tns:findAllPostulacionResponse"/>

<xs:element name="findFullAllPostulacion" type="tns:findFullAllPostulacion"/>

<xs:element name="findFullAllPostulacionResponse" type="tns:findFullAllPostulacionResponse"/>

<xs:element name="findFullPostulacion" type="tns:findFullPostulacion"/>

<xs:element name="findFullPostulacionResponse" type="tns:findFullPostulacionResponse"/>

<xs:element name="findPostulacion" type="tns:findPostulacion"/>

<xs:element name="findPostulacionFullPor" type="tns:findPostulacionFullPor"/>

<xs:element name="findPostulacionFullPorResponse" type="tns:findPostulacionFullPorResponse"/>

<xs:element name="findPostulacionPor" type="tns:findPostulacionPor"/>

<xs:element name="findPostulacionPorResponse" type="tns:findPostulacionPorResponse"/>

<xs:element name="findPostulacionResponse" type="tns:findPostulacionResponse"/>

<xs:element name="postulacion" type="tns:postulacion"/>

<xs:element name="removePostulacion" type="tns:removePostulacion"/>

<xs:complexType name="findPostulacionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPostulacionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idAlumno" type="xs:int"/>
<xs:element name="idCentro" type="xs:int"/>
<xs:element name="idEstado" type="xs:int"/>
<xs:element name="idFamilia" type="xs:int"/>
<xs:element name="idParticipacion" type="xs:int"/>
<xs:element name="idPostulacion" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPrograma" type="xs:int"/>
<xs:element name="idUsuario" type="xs:int"/>
<xs:element name="nombreAlumno" type="xs:string" minOccurs="0"/>
<xs:element name="nombreCentro" type="xs:string" minOccurs="0"/>
<xs:element name="nombreFamilia" type="xs:string" minOccurs="0"/>
<xs:element name="nombrePrograma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePostulacion">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPostulacion">
<xs:sequence>
<xs:element name="id_alumno" type="xs:int"/>
<xs:element name="id_familia" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="id_participacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPostulacion">
<xs:sequence>
<xs:element name="id_postulacion" type="xs:int"/>
<xs:element name="id_alumno" type="xs:int"/>
<xs:element name="id_familia" type="xs:int"/>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="id_participacion" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullPostulacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPostulacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFullAllPostulacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findFullAllPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllPostulacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPostulacionFullPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPostulacionFullPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:postulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>