java.web/src/conf/xml-resources/web-service-references/DocumentoWS/wsdl/ws.huevoscopita.cl/webservice/DocumentoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="DocumentoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/DocumentoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editDocumento">
<part name="parameters" element="tns:editDocumento"/>
</message>
<message name="findDocumento">
<part name="parameters" element="tns:findDocumento"/>
</message>
<message name="findDocumentoResponse">
<part name="parameters" element="tns:findDocumentoResponse"/>
</message>
<message name="createDocumento">
<part name="parameters" element="tns:createDocumento"/>
</message>
<message name="findDocumentoPor">
<part name="parameters" element="tns:findDocumentoPor"/>
</message>
<message name="findDocumentoPorResponse">
<part name="parameters" element="tns:findDocumentoPorResponse"/>
</message>
<message name="findAllDocumento">
<part name="parameters" element="tns:findAllDocumento"/>
</message>
<message name="findAllDocumentoResponse">
<part name="parameters" element="tns:findAllDocumentoResponse"/>
</message>
<message name="removeDocumento">
<part name="parameters" element="tns:removeDocumento"/>
</message>
<portType name="DocumentoWS">
<operation name="editDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/editDocumento" message="tns:editDocumento"/>
</operation>
<operation name="findDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findDocumentoRequest" message="tns:findDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findDocumentoResponse" message="tns:findDocumentoResponse"/>
</operation>
<operation name="createDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/createDocumento" message="tns:createDocumento"/>
</operation>
<operation name="findDocumentoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findDocumentoPorRequest" message="tns:findDocumentoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findDocumentoPorResponse" message="tns:findDocumentoPorResponse"/>
</operation>
<operation name="findAllDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findAllDocumentoRequest" message="tns:findAllDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/findAllDocumentoResponse" message="tns:findAllDocumentoResponse"/>
</operation>
<operation name="removeDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/DocumentoWS/removeDocumento" message="tns:removeDocumento"/>
</operation>
</portType>
<binding name="DocumentoWSPortBinding" type="tns:DocumentoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findDocumentoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="DocumentoWS">
<port name="DocumentoWSPort" binding="tns:DocumentoWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/DocumentoWS"/>
</port>
</service>
</definitions>