java.web/src/conf/xml-resources/web-service-references/EstadoDocumentoWS/wsdl/ws.huevoscopita.cl/webservice/EstadoDocumentoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="EstadoDocumentoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/EstadoDocumentoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllEstadoDocumento">
<part name="parameters" element="tns:findAllEstadoDocumento"/>
</message>
<message name="findAllEstadoDocumentoResponse">
<part name="parameters" element="tns:findAllEstadoDocumentoResponse"/>
</message>
<message name="removeEstadoDocumento">
<part name="parameters" element="tns:removeEstadoDocumento"/>
</message>
<message name="findEstadoDocumento">
<part name="parameters" element="tns:findEstadoDocumento"/>
</message>
<message name="findEstadoDocumentoResponse">
<part name="parameters" element="tns:findEstadoDocumentoResponse"/>
</message>
<message name="editEstadoDocumento">
<part name="parameters" element="tns:editEstadoDocumento"/>
</message>
<message name="createEstadoDocumento">
<part name="parameters" element="tns:createEstadoDocumento"/>
</message>
<message name="findEstadoDocumentoPor">
<part name="parameters" element="tns:findEstadoDocumentoPor"/>
</message>
<message name="findEstadoDocumentoPorResponse">
<part name="parameters" element="tns:findEstadoDocumentoPorResponse"/>
</message>
<portType name="EstadoDocumentoWS">
<operation name="findAllEstadoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findAllEstadoDocumentoRequest" message="tns:findAllEstadoDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findAllEstadoDocumentoResponse" message="tns:findAllEstadoDocumentoResponse"/>
</operation>
<operation name="removeEstadoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/removeEstadoDocumento" message="tns:removeEstadoDocumento"/>
</operation>
<operation name="findEstadoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findEstadoDocumentoRequest" message="tns:findEstadoDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findEstadoDocumentoResponse" message="tns:findEstadoDocumentoResponse"/>
</operation>
<operation name="editEstadoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/editEstadoDocumento" message="tns:editEstadoDocumento"/>
</operation>
<operation name="createEstadoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/createEstadoDocumento" message="tns:createEstadoDocumento"/>
</operation>
<operation name="findEstadoDocumentoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findEstadoDocumentoPorRequest" message="tns:findEstadoDocumentoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/EstadoDocumentoWS/findEstadoDocumentoPorResponse" message="tns:findEstadoDocumentoPorResponse"/>
</operation>
</portType>
<binding name="EstadoDocumentoWSPortBinding" type="tns:EstadoDocumentoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllEstadoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeEstadoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findEstadoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editEstadoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createEstadoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findEstadoDocumentoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EstadoDocumentoWS">
<port name="EstadoDocumentoWSPort" binding="tns:EstadoDocumentoWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/EstadoDocumentoWS"/>
</port>
</service>
</definitions>