net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceFamilia/FamiliaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="FamiliaWS" targetNamespace="http://ws.cem.pft8461.duoc.cl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.huevoscopita.cl:80/webservice/FamiliaWS?xsd=1" namespace="http://ws.cem.pft8461.duoc.cl/" />
    </xsd:schema>
  </types>
  <message name="createFamilia">
    <part name="parameters" element="tns:createFamilia" />
  </message>
  <message name="findAllFamilia">
    <part name="parameters" element="tns:findAllFamilia" />
  </message>
  <message name="findAllFamiliaResponse">
    <part name="parameters" element="tns:findAllFamiliaResponse" />
  </message>
  <message name="findFamiliaPor">
    <part name="parameters" element="tns:findFamiliaPor" />
  </message>
  <message name="findFamiliaPorResponse">
    <part name="parameters" element="tns:findFamiliaPorResponse" />
  </message>
  <message name="removeFamilia">
    <part name="parameters" element="tns:removeFamilia" />
  </message>
  <message name="findFamilia">
    <part name="parameters" element="tns:findFamilia" />
  </message>
  <message name="findFamiliaResponse">
    <part name="parameters" element="tns:findFamiliaResponse" />
  </message>
  <message name="editFamilia">
    <part name="parameters" element="tns:editFamilia" />
  </message>
  <portType name="FamiliaWS">
    <operation name="createFamilia">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/createFamilia" message="tns:createFamilia" />
    </operation>
    <operation name="findAllFamilia">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findAllFamiliaRequest" message="tns:findAllFamilia" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findAllFamiliaResponse" message="tns:findAllFamiliaResponse" />
    </operation>
    <operation name="findFamiliaPor">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaPorRequest" message="tns:findFamiliaPor" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaPorResponse" message="tns:findFamiliaPorResponse" />
    </operation>
    <operation name="removeFamilia">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/removeFamilia" message="tns:removeFamilia" />
    </operation>
    <operation name="findFamilia">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaRequest" message="tns:findFamilia" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaResponse" message="tns:findFamiliaResponse" />
    </operation>
    <operation name="editFamilia">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/editFamilia" message="tns:editFamilia" />
    </operation>
  </portType>
  <binding name="FamiliaWSPortBinding" type="tns:FamiliaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="createFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findAllFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findFamiliaPor">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="removeFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editFamilia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="FamiliaWS">
    <port name="FamiliaWSPort" binding="tns:FamiliaWSPortBinding">
      <soap:address location="http://ws.huevoscopita.cl:80/webservice/FamiliaWS" />
    </port>
  </service>
</definitions>