net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceFamilia/FamiliaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createFamilia" type="tns:createFamilia" />
  <xs:element name="editFamilia" type="tns:editFamilia" />
  <xs:element name="familia" type="tns:familia" />
  <xs:element name="findAllFamilia" type="tns:findAllFamilia" />
  <xs:element name="findAllFamiliaResponse" type="tns:findAllFamiliaResponse" />
  <xs:element name="findFamilia" type="tns:findFamilia" />
  <xs:element name="findFamiliaPor" type="tns:findFamiliaPor" />
  <xs:element name="findFamiliaPorResponse" type="tns:findFamiliaPorResponse" />
  <xs:element name="findFamiliaResponse" type="tns:findFamiliaResponse" />
  <xs:element name="findFullAllFamilia" type="tns:findFullAllFamilia" />
  <xs:element name="findFullAllFamiliaResponse" type="tns:findFullAllFamiliaResponse" />
  <xs:element name="findFullFamilia" type="tns:findFullFamilia" />
  <xs:element name="findFullFamiliaPor" type="tns:findFullFamiliaPor" />
  <xs:element name="findFullFamiliaPorResponse" type="tns:findFullFamiliaPorResponse" />
  <xs:element name="findFullFamiliaResponse" type="tns:findFullFamiliaResponse" />
  <xs:element name="removeFamilia" type="tns:removeFamilia" />
  <xs:complexType name="removeFamilia">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFullFamilia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFullFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="familia">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMat" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPat" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="idCentro" type="xs:int" />
      <xs:element name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idFamilia" type="xs:decimal" />
      <xs:element name="idUsuario" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_familia" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFullFamiliaPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFullFamiliaPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createFamilia">
    <xs:sequence>
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element name="id_centro" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_familia" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFamiliaPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFamiliaPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFullAllFamilia">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findFullAllFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllFamilia">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFamilia">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFamiliaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:familia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editFamilia">
    <xs:sequence>
      <xs:element name="id_familia" type="xs:int" />
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element name="id_centro" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="nombre_familia" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>