java.web/src/conf/xml-resources/web-service-references/CentroWS/wsdl/ws.huevoscopita.cl/webservice/CentroWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="CentroWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/CentroWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findCentro">
<part name="parameters" element="tns:findCentro"/>
</message>
<message name="findCentroResponse">
<part name="parameters" element="tns:findCentroResponse"/>
</message>
<message name="findAllCentro">
<part name="parameters" element="tns:findAllCentro"/>
</message>
<message name="findAllCentroResponse">
<part name="parameters" element="tns:findAllCentroResponse"/>
</message>
<message name="findCentroPor">
<part name="parameters" element="tns:findCentroPor"/>
</message>
<message name="findCentroPorResponse">
<part name="parameters" element="tns:findCentroPorResponse"/>
</message>
<message name="createCentro">
<part name="parameters" element="tns:createCentro"/>
</message>
<message name="removeCentro">
<part name="parameters" element="tns:removeCentro"/>
</message>
<message name="editCentro">
<part name="parameters" element="tns:editCentro"/>
</message>
<portType name="CentroWS">
<operation name="findCentro">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroRequest" message="tns:findCentro"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroResponse" message="tns:findCentroResponse"/>
</operation>
<operation name="findAllCentro">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findAllCentroRequest" message="tns:findAllCentro"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findAllCentroResponse" message="tns:findAllCentroResponse"/>
</operation>
<operation name="findCentroPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroPorRequest" message="tns:findCentroPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/findCentroPorResponse" message="tns:findCentroPorResponse"/>
</operation>
<operation name="createCentro">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/createCentro" message="tns:createCentro"/>
</operation>
<operation name="removeCentro">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/removeCentro" message="tns:removeCentro"/>
</operation>
<operation name="editCentro">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CentroWS/editCentro" message="tns:editCentro"/>
</operation>
</portType>
<binding name="CentroWSPortBinding" type="tns:CentroWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCentroPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCentro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="CentroWS">
<port name="CentroWSPort" binding="tns:CentroWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/CentroWS"/>
</port>
</service>
</definitions>