java.web/src/conf/xml-resources/web-service-references/EstadoProgramaWS/wsdl/ws.huevoscopita.cl_80/webservice/EstadoProgramaWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createEstadoPrograma" type="tns:createEstadoPrograma"/>

<xs:element name="editEstadoPrograma" type="tns:editEstadoPrograma"/>

<xs:element name="estadoPrograma" type="tns:estadoPrograma"/>

<xs:element name="findAllEstadoPrograma" type="tns:findAllEstadoPrograma"/>

<xs:element name="findAllEstadoProgramaResponse" type="tns:findAllEstadoProgramaResponse"/>

<xs:element name="findEstadoPrograma" type="tns:findEstadoPrograma"/>

<xs:element name="findEstadoProgramaPor" type="tns:findEstadoProgramaPor"/>

<xs:element name="findEstadoProgramaPorResponse" type="tns:findEstadoProgramaPorResponse"/>

<xs:element name="findEstadoProgramaResponse" type="tns:findEstadoProgramaResponse"/>

<xs:element name="removeEstadoPrograma" type="tns:removeEstadoPrograma"/>

<xs:complexType name="findEstadoPrograma">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoProgramaResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPrograma" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoPrograma">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEstadoPrograma">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEstadoProgramaResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPrograma" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoProgramaPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoProgramaPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPrograma" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoPrograma">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoPrograma">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEstadoPrograma">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>