net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceEstadoParticipacion/EstadoParticipacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createEstadoParticipacion" type="tns:createEstadoParticipacion" />
  <xs:element name="editEstadoParticipacion" type="tns:editEstadoParticipacion" />
  <xs:element name="estadoParticipacion" type="tns:estadoParticipacion" />
  <xs:element name="findAllEstadoParticipacion" type="tns:findAllEstadoParticipacion" />
  <xs:element name="findAllEstadoParticipacionResponse" type="tns:findAllEstadoParticipacionResponse" />
  <xs:element name="findEstadoParticipacion" type="tns:findEstadoParticipacion" />
  <xs:element name="findEstadoParticipacionPor" type="tns:findEstadoParticipacionPor" />
  <xs:element name="findEstadoParticipacionPorResponse" type="tns:findEstadoParticipacionPorResponse" />
  <xs:element name="findEstadoParticipacionResponse" type="tns:findEstadoParticipacionResponse" />
  <xs:element name="removeEstadoParticipacion" type="tns:removeEstadoParticipacion" />
  <xs:complexType name="findEstadoParticipacionPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoParticipacionPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoParticipacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="estadoParticipacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="estado" type="xs:string" />
      <xs:element minOccurs="0" name="idEstado" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllEstadoParticipacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllEstadoParticipacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:estadoParticipacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoParticipacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findEstadoParticipacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:estadoParticipacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editEstadoParticipacion">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeEstadoParticipacion">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createEstadoParticipacion">
    <xs:sequence>
      <xs:element name="id_estado" type="xs:int" />
      <xs:element minOccurs="0" name="estado" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>