java.web/src/conf/xml-resources/web-service-references/CiudadWS/wsdl/ws.huevoscopita.cl_80/webservice/CiudadWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="createCiudad" type="tns:createCiudad"/>

<xs:element name="editCiudad" type="tns:editCiudad"/>

<xs:element name="findAllCiudad" type="tns:findAllCiudad"/>

<xs:element name="findAllCiudadResponse" type="tns:findAllCiudadResponse"/>

<xs:element name="findCiudad" type="tns:findCiudad"/>

<xs:element name="findCiudadPor" type="tns:findCiudadPor"/>

<xs:element name="findCiudadPorResponse" type="tns:findCiudadPorResponse"/>

<xs:element name="findCiudadResponse" type="tns:findCiudadResponse"/>

<xs:element name="removeCiudad" type="tns:removeCiudad"/>

<xs:complexType name="removeCiudad">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createCiudad">
<xs:sequence>
<xs:element name="nombre_ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="id_region" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editCiudad">
<xs:sequence>
<xs:element name="id_ciudad" type="xs:int"/>
<xs:element name="nombre_ciudad" type="xs:string" minOccurs="0"/>
<xs:element name="id_region" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllCiudad">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllCiudadResponse">
<xs:sequence>
<xs:element name="return" type="tns:ciudad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="idRegion" type="xs:int"/>
<xs:element name="nombreCiudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCiudad">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCiudadResponse">
<xs:sequence>
<xs:element name="return" type="tns:ciudad" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCiudadPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findCiudadPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:ciudad" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>