webservice/web/WEB-INF/wsdl/172.31.29.137_80/webservice/UsuarioWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="autenticar" type="tns:autenticar"/>

<xs:element name="autenticarResponse" type="tns:autenticarResponse"/>

<xs:element name="centro" type="tns:centro"/>

<xs:element name="ciudad" type="tns:ciudad"/>

<xs:element name="createUsuario" type="tns:createUsuario"/>

<xs:element name="editUsuario" type="tns:editUsuario"/>

<xs:element name="estadoFamilia" type="tns:estadoFamilia"/>

<xs:element name="estadoParticipacion" type="tns:estadoParticipacion"/>

<xs:element name="estadoPostulacion" type="tns:estadoPostulacion"/>

<xs:element name="estadoPrograma" type="tns:estadoPrograma"/>

<xs:element name="familia" type="tns:familia"/>

<xs:element name="findAllUsuarios" type="tns:findAllUsuarios"/>

<xs:element name="findAllUsuariosResponse" type="tns:findAllUsuariosResponse"/>

<xs:element name="findUsuario" type="tns:findUsuario"/>

<xs:element name="findUsuarioResponse" type="tns:findUsuarioResponse"/>

<xs:element name="pais" type="tns:pais"/>

<xs:element name="participacion" type="tns:participacion"/>

<xs:element name="perfilUsuario" type="tns:perfilUsuario"/>

<xs:element name="postulacion" type="tns:postulacion"/>

<xs:element name="programa" type="tns:programa"/>

<xs:element name="region" type="tns:region"/>

<xs:element name="removeUsuario" type="tns:removeUsuario"/>

<xs:element name="usuario" type="tns:usuario"/>

<xs:complexType name="autenticar">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="autenticarResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellidoMat" type="xs:string" minOccurs="0"/>
<xs:element name="apellidoPat" type="xs:string" minOccurs="0"/>
<xs:element name="centro" type="tns:centro" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="creado" type="xs:dateTime" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="familia" type="tns:familia" minOccurs="0"/>
<xs:element name="idPerfilUsuario" type="tns:perfilUsuario" minOccurs="0"/>
<xs:element name="idUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="token" type="xs:string" minOccurs="0"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centro">
<xs:sequence>
<xs:element name="idCentro" type="xs:decimal" minOccurs="0"/>
<xs:element name="idCiudad" type="tns:ciudad" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="nombreCentro" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ciudad">
<xs:sequence>
<xs:element name="idCiudad" type="xs:decimal" minOccurs="0"/>
<xs:element name="idRegion" type="tns:region" minOccurs="0"/>
<xs:element name="nombreCiudad" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="region">
<xs:sequence>
<xs:element name="idPais" type="tns:pais" minOccurs="0"/>
<xs:element name="idRegion" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombreRegion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="idPais" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombrePais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="familia">
<xs:sequence>
<xs:element name="idCentro" type="tns:centro" minOccurs="0"/>
<xs:element name="idEstado" type="tns:estadoFamilia" minOccurs="0"/>
<xs:element name="idFamilia" type="xs:decimal" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
<xs:element name="postulacion" type="tns:postulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoFamilia">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="postulacion">
<xs:sequence>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEstado" type="tns:estadoPostulacion" minOccurs="0"/>
<xs:element name="idFamilia" type="tns:familia" minOccurs="0"/>
<xs:element name="idParticipacion" type="tns:participacion" minOccurs="0"/>
<xs:element name="idPostulacion" type="xs:decimal" minOccurs="0"/>
<xs:element name="idUsuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoPostulacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="participacion">
<xs:sequence>
<xs:element name="idCentro" type="tns:centro" minOccurs="0"/>
<xs:element name="idEstado" type="tns:estadoParticipacion" minOccurs="0"/>
<xs:element name="idParticipacion" type="xs:decimal" minOccurs="0"/>
<xs:element name="idPrograma" type="tns:programa" minOccurs="0"/>
<xs:element name="postulacion" type="tns:postulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoParticipacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="programa">
<xs:sequence>
<xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
<xs:element name="idEstado" type="tns:estadoPrograma" minOccurs="0"/>
<xs:element name="idPais" type="tns:pais" minOccurs="0"/>
<xs:element name="idPrograma" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombrePrograma" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoPrograma">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="perfilUsuario">
<xs:sequence>
<xs:element name="idPerfilUsuario" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombrePerfil" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editUsuario">
<xs:sequence>
<xs:element name="id_usuario" type="xs:int"/>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_pat" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_mat" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllUsuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllUsuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuario">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="clave" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_pat" type="xs:string" minOccurs="0"/>
<xs:element name="apellido_mat" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="perfil_usuario" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>