java.web/src/conf/xml-resources/web-service-references/NotaWS/wsdl/ws.huevoscopita.cl/webservice/NotaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="NotaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/NotaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createNota">
<part name="parameters" element="tns:createNota"/>
</message>
<message name="findAllNota">
<part name="parameters" element="tns:findAllNota"/>
</message>
<message name="findAllNotaResponse">
<part name="parameters" element="tns:findAllNotaResponse"/>
</message>
<message name="findNotaPor">
<part name="parameters" element="tns:findNotaPor"/>
</message>
<message name="findNotaPorResponse">
<part name="parameters" element="tns:findNotaPorResponse"/>
</message>
<message name="removeNota">
<part name="parameters" element="tns:removeNota"/>
</message>
<message name="findNota">
<part name="parameters" element="tns:findNota"/>
</message>
<message name="findNotaResponse">
<part name="parameters" element="tns:findNotaResponse"/>
</message>
<message name="editNota">
<part name="parameters" element="tns:editNota"/>
</message>
<portType name="NotaWS">
<operation name="createNota">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/createNota" message="tns:createNota"/>
</operation>
<operation name="findAllNota">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findAllNotaRequest" message="tns:findAllNota"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findAllNotaResponse" message="tns:findAllNotaResponse"/>
</operation>
<operation name="findNotaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findNotaPorRequest" message="tns:findNotaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findNotaPorResponse" message="tns:findNotaPorResponse"/>
</operation>
<operation name="removeNota">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/removeNota" message="tns:removeNota"/>
</operation>
<operation name="findNota">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findNotaRequest" message="tns:findNota"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/findNotaResponse" message="tns:findNotaResponse"/>
</operation>
<operation name="editNota">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/NotaWS/editNota" message="tns:editNota"/>
</operation>
</portType>
<binding name="NotaWSPortBinding" type="tns:NotaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findNotaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editNota">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="NotaWS">
<port name="NotaWSPort" binding="tns:NotaWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/NotaWS"/>
</port>
</service>
</definitions>