net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceParticipacion/ParticipacionWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createParticipacion" type="tns:createParticipacion" />
  <xs:element name="editParticipacion" type="tns:editParticipacion" />
  <xs:element name="findAllParticipacion" type="tns:findAllParticipacion" />
  <xs:element name="findAllParticipacionResponse" type="tns:findAllParticipacionResponse" />
  <xs:element name="findParticipacion" type="tns:findParticipacion" />
  <xs:element name="findParticipacionPor" type="tns:findParticipacionPor" />
  <xs:element name="findParticipacionPorResponse" type="tns:findParticipacionPorResponse" />
  <xs:element name="findParticipacionResponse" type="tns:findParticipacionResponse" />
  <xs:element name="participacion" type="tns:participacion" />
  <xs:element name="postulacion" type="tns:postulacion" />
  <xs:element name="removeParticipacion" type="tns:removeParticipacion" />
  <xs:complexType name="removeParticipacion">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllParticipacion">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllParticipacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:participacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="participacion">
    <xs:sequence>
      <xs:element name="idCentro" type="xs:int" />
      <xs:element name="idEstado" type="xs:int" />
      <xs:element minOccurs="0" name="idParticipacion" type="xs:decimal" />
      <xs:element name="idPrograma" type="xs:int" />
      <xs:element minOccurs="0" name="postulacion" type="tns:postulacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="postulacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaCreacion" type="xs:dateTime" />
      <xs:element name="idEstado" type="xs:int" />
      <xs:element name="idFamilia" type="xs:int" />
      <xs:element name="idParticipacion" type="xs:int" />
      <xs:element minOccurs="0" name="idPostulacion" type="xs:decimal" />
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createParticipacion">
    <xs:sequence>
      <xs:element name="id_centro" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_programa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editParticipacion">
    <xs:sequence>
      <xs:element name="id_particiapcion" type="xs:int" />
      <xs:element name="id_centro" type="xs:int" />
      <xs:element name="id_estado" type="xs:int" />
      <xs:element name="id_programa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findParticipacionPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findParticipacionPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:participacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findParticipacion">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findParticipacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:participacion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>