java.web/src/conf/xml-resources/web-service-references/EstadoParticipacionWS/wsdl/ws.huevoscopita.cl_80/webservice/EstadoParticipacionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createEstadoParticipacion" type="tns:createEstadoParticipacion"/>

<xs:element name="editEstadoParticipacion" type="tns:editEstadoParticipacion"/>

<xs:element name="estadoParticipacion" type="tns:estadoParticipacion"/>

<xs:element name="findAllEstadoParticipacion" type="tns:findAllEstadoParticipacion"/>

<xs:element name="findAllEstadoParticipacionResponse" type="tns:findAllEstadoParticipacionResponse"/>

<xs:element name="findEstadoParticipacion" type="tns:findEstadoParticipacion"/>

<xs:element name="findEstadoParticipacionPor" type="tns:findEstadoParticipacionPor"/>

<xs:element name="findEstadoParticipacionPorResponse" type="tns:findEstadoParticipacionPorResponse"/>

<xs:element name="findEstadoParticipacionResponse" type="tns:findEstadoParticipacionResponse"/>

<xs:element name="removeEstadoParticipacion" type="tns:removeEstadoParticipacion"/>

<xs:complexType name="findEstadoParticipacionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoParticipacionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoParticipacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoParticipacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEstadoParticipacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEstadoParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoParticipacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoParticipacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoParticipacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoParticipacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoParticipacion">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEstadoParticipacion">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoParticipacion">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>