java.web/src/conf/xml-resources/web-service-references/TipoDocumentoWS/wsdl/ws.huevoscopita.cl/webservice/TipoDocumentoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="TipoDocumentoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/TipoDocumentoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editTipoDocumento">
<part name="parameters" element="tns:editTipoDocumento"/>
</message>
<message name="removeTipoDocumento">
<part name="parameters" element="tns:removeTipoDocumento"/>
</message>
<message name="findTipoDocumento">
<part name="parameters" element="tns:findTipoDocumento"/>
</message>
<message name="findTipoDocumentoResponse">
<part name="parameters" element="tns:findTipoDocumentoResponse"/>
</message>
<message name="findAllTipoDocumento">
<part name="parameters" element="tns:findAllTipoDocumento"/>
</message>
<message name="findAllTipoDocumentoResponse">
<part name="parameters" element="tns:findAllTipoDocumentoResponse"/>
</message>
<message name="createTipoDocumento">
<part name="parameters" element="tns:createTipoDocumento"/>
</message>
<message name="findTipoDocumentoPor">
<part name="parameters" element="tns:findTipoDocumentoPor"/>
</message>
<message name="findTipoDocumentoPorResponse">
<part name="parameters" element="tns:findTipoDocumentoPorResponse"/>
</message>
<portType name="TipoDocumentoWS">
<operation name="editTipoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/editTipoDocumento" message="tns:editTipoDocumento"/>
</operation>
<operation name="removeTipoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/removeTipoDocumento" message="tns:removeTipoDocumento"/>
</operation>
<operation name="findTipoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findTipoDocumentoRequest" message="tns:findTipoDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findTipoDocumentoResponse" message="tns:findTipoDocumentoResponse"/>
</operation>
<operation name="findAllTipoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findAllTipoDocumentoRequest" message="tns:findAllTipoDocumento"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findAllTipoDocumentoResponse" message="tns:findAllTipoDocumentoResponse"/>
</operation>
<operation name="createTipoDocumento">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/createTipoDocumento" message="tns:createTipoDocumento"/>
</operation>
<operation name="findTipoDocumentoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findTipoDocumentoPorRequest" message="tns:findTipoDocumentoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/TipoDocumentoWS/findTipoDocumentoPorResponse" message="tns:findTipoDocumentoPorResponse"/>
</operation>
</portType>
<binding name="TipoDocumentoWSPortBinding" type="tns:TipoDocumentoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editTipoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeTipoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findTipoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllTipoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTipoDocumento">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findTipoDocumentoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TipoDocumentoWS">
<port name="TipoDocumentoWSPort" binding="tns:TipoDocumentoWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/TipoDocumentoWS"/>
</port>
</service>
</definitions>