java.web/src/conf/xml-resources/web-service-references/MenuItemWS/wsdl/ws.huevoscopita.cl_80/webservice/MenuItemWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createMenuItem" type="tns:createMenuItem"/>

<xs:element name="editMenuItem" type="tns:editMenuItem"/>

<xs:element name="findAllMenuItem" type="tns:findAllMenuItem"/>

<xs:element name="findAllMenuItemResponse" type="tns:findAllMenuItemResponse"/>

<xs:element name="findMenuItem" type="tns:findMenuItem"/>

<xs:element name="findMenuItemPor" type="tns:findMenuItemPor"/>

<xs:element name="findMenuItemPorResponse" type="tns:findMenuItemPorResponse"/>

<xs:element name="findMenuItemResponse" type="tns:findMenuItemResponse"/>

<xs:element name="menuItem" type="tns:menuItem"/>

<xs:element name="removeMenuItem" type="tns:removeMenuItem"/>

<xs:complexType name="createMenuItem">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="id_menu" type="xs:int"/>
<xs:element name="orden" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllMenuItem">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllMenuItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menuItem">
<xs:sequence>
<xs:element name="idMenu" type="xs:int"/>
<xs:element name="idMenuItem" type="xs:decimal" minOccurs="0"/>
<xs:element name="orden" type="xs:int"/>
<xs:element name="padre" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeMenuItem">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuItemPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuItemPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuItem" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuItem">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuItemResponse">
<xs:sequence>
<xs:element name="return" type="tns:menuItem" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editMenuItem">
<xs:sequence>
<xs:element name="id_menu_item" type="xs:int"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="url" type="xs:string" minOccurs="0"/>
<xs:element name="id_menu" type="xs:int"/>
<xs:element name="padre" type="xs:int"/>
<xs:element name="orden" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>