net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceCurso/CursoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createCurso" type="tns:createCurso" />
  <xs:element name="curso" type="tns:curso" />
  <xs:element name="editCurso" type="tns:editCurso" />
  <xs:element name="findAllCurso" type="tns:findAllCurso" />
  <xs:element name="findAllCursoResponse" type="tns:findAllCursoResponse" />
  <xs:element name="findCurso" type="tns:findCurso" />
  <xs:element name="findCursoPor" type="tns:findCursoPor" />
  <xs:element name="findCursoPorResponse" type="tns:findCursoPorResponse" />
  <xs:element name="findCursoResponse" type="tns:findCursoResponse" />
  <xs:element name="nota" type="tns:nota" />
  <xs:element name="removeCurso" type="tns:removeCurso" />
  <xs:complexType name="removeCurso">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editCurso">
    <xs:sequence>
      <xs:element name="id_curso" type="xs:int" />
      <xs:element name="id_programa" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_curso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createCurso">
    <xs:sequence>
      <xs:element name="id_programa" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_curso" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllCurso">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="curso">
    <xs:sequence>
      <xs:element minOccurs="0" name="idCurso" type="xs:decimal" />
      <xs:element name="idPrograma" type="xs:int" />
      <xs:element minOccurs="0" name="nombreCurso" type="xs:string" />
      <xs:element minOccurs="0" name="nota" type="tns:nota" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="nota">
    <xs:sequence>
      <xs:element name="idCurso" type="xs:int" />
      <xs:element minOccurs="0" name="idNota" type="xs:decimal" />
      <xs:element name="idPostulacion" type="xs:int" />
      <xs:element minOccurs="0" name="nota" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCurso">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCursoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCursoPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findCursoPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:curso" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>