java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/CarreraWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="CarreraWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/CarreraWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findAllCarrera">
<part name="parameters" element="tns:findAllCarrera"/>
</message>
<message name="findAllCarreraResponse">
<part name="parameters" element="tns:findAllCarreraResponse"/>
</message>
<message name="findCarreraPor">
<part name="parameters" element="tns:findCarreraPor"/>
</message>
<message name="findCarreraPorResponse">
<part name="parameters" element="tns:findCarreraPorResponse"/>
</message>
<message name="removeCarrera">
<part name="parameters" element="tns:removeCarrera"/>
</message>
<message name="findCarrera">
<part name="parameters" element="tns:findCarrera"/>
</message>
<message name="findCarreraResponse">
<part name="parameters" element="tns:findCarreraResponse"/>
</message>
<message name="createCarrera">
<part name="parameters" element="tns:createCarrera"/>
</message>
<message name="editCarrera">
<part name="parameters" element="tns:editCarrera"/>
</message>
<portType name="CarreraWS">
<operation name="findAllCarrera">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findAllCarreraRequest" message="tns:findAllCarrera"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findAllCarreraResponse" message="tns:findAllCarreraResponse"/>
</operation>
<operation name="findCarreraPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findCarreraPorRequest" message="tns:findCarreraPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findCarreraPorResponse" message="tns:findCarreraPorResponse"/>
</operation>
<operation name="removeCarrera">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/removeCarrera" message="tns:removeCarrera"/>
</operation>
<operation name="findCarrera">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findCarreraRequest" message="tns:findCarrera"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/findCarreraResponse" message="tns:findCarreraResponse"/>
</operation>
<operation name="createCarrera">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/createCarrera" message="tns:createCarrera"/>
</operation>
<operation name="editCarrera">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CarreraWS/editCarrera" message="tns:editCarrera"/>
</operation>
</portType>
<binding name="CarreraWSPortBinding" type="tns:CarreraWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAllCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCarreraPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editCarrera">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="CarreraWS">
<port name="CarreraWSPort" binding="tns:CarreraWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/CarreraWS"/>
</port>
</service>
</definitions>