java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/CursoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="CursoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/CursoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editCurso">
<part name="parameters" element="tns:editCurso"/>
</message>
<message name="createCurso">
<part name="parameters" element="tns:createCurso"/>
</message>
<message name="findAllCurso">
<part name="parameters" element="tns:findAllCurso"/>
</message>
<message name="findAllCursoResponse">
<part name="parameters" element="tns:findAllCursoResponse"/>
</message>
<message name="findCursoPor">
<part name="parameters" element="tns:findCursoPor"/>
</message>
<message name="findCursoPorResponse">
<part name="parameters" element="tns:findCursoPorResponse"/>
</message>
<message name="removeCurso">
<part name="parameters" element="tns:removeCurso"/>
</message>
<message name="findCurso">
<part name="parameters" element="tns:findCurso"/>
</message>
<message name="findCursoResponse">
<part name="parameters" element="tns:findCursoResponse"/>
</message>
<message name="findFullAllCurso">
<part name="parameters" element="tns:findFullAllCurso"/>
</message>
<message name="findFullAllCursoResponse">
<part name="parameters" element="tns:findFullAllCursoResponse"/>
</message>
<message name="findFullCurso">
<part name="parameters" element="tns:findFullCurso"/>
</message>
<message name="findFullCursoResponse">
<part name="parameters" element="tns:findFullCursoResponse"/>
</message>
<message name="findFullCursoPor">
<part name="parameters" element="tns:findFullCursoPor"/>
</message>
<message name="findFullCursoPorResponse">
<part name="parameters" element="tns:findFullCursoPorResponse"/>
</message>
<portType name="CursoWS">
<operation name="editCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/editCurso" message="tns:editCurso"/>
</operation>
<operation name="createCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/createCurso" message="tns:createCurso"/>
</operation>
<operation name="findAllCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findAllCursoRequest" message="tns:findAllCurso"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findAllCursoResponse" message="tns:findAllCursoResponse"/>
</operation>
<operation name="findCursoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findCursoPorRequest" message="tns:findCursoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findCursoPorResponse" message="tns:findCursoPorResponse"/>
</operation>
<operation name="removeCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/removeCurso" message="tns:removeCurso"/>
</operation>
<operation name="findCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findCursoRequest" message="tns:findCurso"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findCursoResponse" message="tns:findCursoResponse"/>
</operation>
<operation name="findFullAllCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullAllCursoRequest" message="tns:findFullAllCurso"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullAllCursoResponse" message="tns:findFullAllCursoResponse"/>
</operation>
<operation name="findFullCurso">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullCursoRequest" message="tns:findFullCurso"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullCursoResponse" message="tns:findFullCursoResponse"/>
</operation>
<operation name="findFullCursoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullCursoPorRequest" message="tns:findFullCursoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/CursoWS/findFullCursoPorResponse" message="tns:findFullCursoPorResponse"/>
</operation>
</portType>
<binding name="CursoWSPortBinding" type="tns:CursoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findCursoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullAllCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullCurso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullCursoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CursoWS">
<port name="CursoWSPort" binding="tns:CursoWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/CursoWS"/>
</port>
</service>
</definitions>