java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/FamiliaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="FamiliaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/FamiliaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createFamilia">
<part name="parameters" element="tns:createFamilia"/>
</message>
<message name="findAllFamilia">
<part name="parameters" element="tns:findAllFamilia"/>
</message>
<message name="findAllFamiliaResponse">
<part name="parameters" element="tns:findAllFamiliaResponse"/>
</message>
<message name="findFamilia">
<part name="parameters" element="tns:findFamilia"/>
</message>
<message name="findFamiliaResponse">
<part name="parameters" element="tns:findFamiliaResponse"/>
</message>
<message name="removeFamilia">
<part name="parameters" element="tns:removeFamilia"/>
</message>
<message name="findFullFamilia">
<part name="parameters" element="tns:findFullFamilia"/>
</message>
<message name="findFullFamiliaResponse">
<part name="parameters" element="tns:findFullFamiliaResponse"/>
</message>
<message name="findFamiliaPor">
<part name="parameters" element="tns:findFamiliaPor"/>
</message>
<message name="findFamiliaPorResponse">
<part name="parameters" element="tns:findFamiliaPorResponse"/>
</message>
<message name="editFamilia">
<part name="parameters" element="tns:editFamilia"/>
</message>
<message name="findFullAllFamilia">
<part name="parameters" element="tns:findFullAllFamilia"/>
</message>
<message name="findFullAllFamiliaResponse">
<part name="parameters" element="tns:findFullAllFamiliaResponse"/>
</message>
<message name="findFullFamiliaPor">
<part name="parameters" element="tns:findFullFamiliaPor"/>
</message>
<message name="findFullFamiliaPorResponse">
<part name="parameters" element="tns:findFullFamiliaPorResponse"/>
</message>
<portType name="FamiliaWS">
<operation name="createFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/createFamilia" message="tns:createFamilia"/>
</operation>
<operation name="findAllFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findAllFamiliaRequest" message="tns:findAllFamilia"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findAllFamiliaResponse" message="tns:findAllFamiliaResponse"/>
</operation>
<operation name="findFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaRequest" message="tns:findFamilia"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaResponse" message="tns:findFamiliaResponse"/>
</operation>
<operation name="removeFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/removeFamilia" message="tns:removeFamilia"/>
</operation>
<operation name="findFullFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullFamiliaRequest" message="tns:findFullFamilia"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullFamiliaResponse" message="tns:findFullFamiliaResponse"/>
</operation>
<operation name="findFamiliaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaPorRequest" message="tns:findFamiliaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFamiliaPorResponse" message="tns:findFamiliaPorResponse"/>
</operation>
<operation name="editFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/editFamilia" message="tns:editFamilia"/>
</operation>
<operation name="findFullAllFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullAllFamiliaRequest" message="tns:findFullAllFamilia"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullAllFamiliaResponse" message="tns:findFullAllFamiliaResponse"/>
</operation>
<operation name="findFullFamiliaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullFamiliaPorRequest" message="tns:findFullFamiliaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/FamiliaWS/findFullFamiliaPorResponse" message="tns:findFullFamiliaPorResponse"/>
</operation>
</portType>
<binding name="FamiliaWSPortBinding" type="tns:FamiliaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findFullFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFamiliaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findFullAllFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullFamiliaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="FamiliaWS">
<port name="FamiliaWSPort" binding="tns:FamiliaWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/FamiliaWS"/>
</port>
</service>
</definitions>