java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/MenuWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="MenuWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/MenuWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editMenu">
<part name="parameters" element="tns:editMenu"/>
</message>
<message name="removeMenu">
<part name="parameters" element="tns:removeMenu"/>
</message>
<message name="findMenuPor">
<part name="parameters" element="tns:findMenuPor"/>
</message>
<message name="findMenuPorResponse">
<part name="parameters" element="tns:findMenuPorResponse"/>
</message>
<message name="findMenu">
<part name="parameters" element="tns:findMenu"/>
</message>
<message name="findMenuResponse">
<part name="parameters" element="tns:findMenuResponse"/>
</message>
<message name="findAllMenu">
<part name="parameters" element="tns:findAllMenu"/>
</message>
<message name="findAllMenuResponse">
<part name="parameters" element="tns:findAllMenuResponse"/>
</message>
<message name="createMenu">
<part name="parameters" element="tns:createMenu"/>
</message>
<portType name="MenuWS">
<operation name="editMenu">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/editMenu" message="tns:editMenu"/>
</operation>
<operation name="removeMenu">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/removeMenu" message="tns:removeMenu"/>
</operation>
<operation name="findMenuPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findMenuPorRequest" message="tns:findMenuPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findMenuPorResponse" message="tns:findMenuPorResponse"/>
</operation>
<operation name="findMenu">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findMenuRequest" message="tns:findMenu"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findMenuResponse" message="tns:findMenuResponse"/>
</operation>
<operation name="findAllMenu">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findAllMenuRequest" message="tns:findAllMenu"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/findAllMenuResponse" message="tns:findAllMenuResponse"/>
</operation>
<operation name="createMenu">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuWS/createMenu" message="tns:createMenu"/>
</operation>
</portType>
<binding name="MenuWSPortBinding" type="tns:MenuWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findMenuPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMenu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="MenuWS">
<port name="MenuWSPort" binding="tns:MenuWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/MenuWS"/>
</port>
</service>
</definitions>