java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/ProgramaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="ProgramaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/ProgramaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="findFullAllPrograma">
<part name="parameters" element="tns:findFullAllPrograma"/>
</message>
<message name="findFullAllProgramaResponse">
<part name="parameters" element="tns:findFullAllProgramaResponse"/>
</message>
<message name="findFullProgramaPor">
<part name="parameters" element="tns:findFullProgramaPor"/>
</message>
<message name="findFullProgramaPorResponse">
<part name="parameters" element="tns:findFullProgramaPorResponse"/>
</message>
<message name="editPrograma">
<part name="parameters" element="tns:editPrograma"/>
</message>
<message name="findProgramaPor">
<part name="parameters" element="tns:findProgramaPor"/>
</message>
<message name="findProgramaPorResponse">
<part name="parameters" element="tns:findProgramaPorResponse"/>
</message>
<message name="removePrograma">
<part name="parameters" element="tns:removePrograma"/>
</message>
<message name="createPrograma">
<part name="parameters" element="tns:createPrograma"/>
</message>
<message name="findPrograma">
<part name="parameters" element="tns:findPrograma"/>
</message>
<message name="findProgramaResponse">
<part name="parameters" element="tns:findProgramaResponse"/>
</message>
<message name="findAllPrograma">
<part name="parameters" element="tns:findAllPrograma"/>
</message>
<message name="findAllProgramaResponse">
<part name="parameters" element="tns:findAllProgramaResponse"/>
</message>
<message name="findFullPrograma">
<part name="parameters" element="tns:findFullPrograma"/>
</message>
<message name="findFullProgramaResponse">
<part name="parameters" element="tns:findFullProgramaResponse"/>
</message>
<portType name="ProgramaWS">
<operation name="findFullAllPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullAllProgramaRequest" message="tns:findFullAllPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullAllProgramaResponse" message="tns:findFullAllProgramaResponse"/>
</operation>
<operation name="findFullProgramaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullProgramaPorRequest" message="tns:findFullProgramaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullProgramaPorResponse" message="tns:findFullProgramaPorResponse"/>
</operation>
<operation name="editPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/editPrograma" message="tns:editPrograma"/>
</operation>
<operation name="findProgramaPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findProgramaPorRequest" message="tns:findProgramaPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findProgramaPorResponse" message="tns:findProgramaPorResponse"/>
</operation>
<operation name="removePrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/removePrograma" message="tns:removePrograma"/>
</operation>
<operation name="createPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/createPrograma" message="tns:createPrograma"/>
</operation>
<operation name="findPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findProgramaRequest" message="tns:findPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findProgramaResponse" message="tns:findProgramaResponse"/>
</operation>
<operation name="findAllPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findAllProgramaRequest" message="tns:findAllPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findAllProgramaResponse" message="tns:findAllProgramaResponse"/>
</operation>
<operation name="findFullPrograma">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullProgramaRequest" message="tns:findFullPrograma"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ProgramaWS/findFullProgramaResponse" message="tns:findFullProgramaResponse"/>
</operation>
</portType>
<binding name="ProgramaWSPortBinding" type="tns:ProgramaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findFullAllPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullProgramaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findProgramaPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removePrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullPrograma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProgramaWS">
<port name="ProgramaWSPort" binding="tns:ProgramaWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/ProgramaWS"/>
</port>
</service>
</definitions>