java.web/web/WEB-INF/wsdl/ws.huevoscopita.cl/webservice/UsuarioWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="UsuarioWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/UsuarioWS?xsd=1"/>
</xsd:schema>
</types>
<message name="createUsuario">
<part name="parameters" element="tns:createUsuario"/>
</message>
<message name="findUsuarioPor">
<part name="parameters" element="tns:findUsuarioPor"/>
</message>
<message name="findUsuarioPorResponse">
<part name="parameters" element="tns:findUsuarioPorResponse"/>
</message>
<message name="findAllUsuarios">
<part name="parameters" element="tns:findAllUsuarios"/>
</message>
<message name="findAllUsuariosResponse">
<part name="parameters" element="tns:findAllUsuariosResponse"/>
</message>
<message name="autenticar">
<part name="parameters" element="tns:autenticar"/>
</message>
<message name="autenticarResponse">
<part name="parameters" element="tns:autenticarResponse"/>
</message>
<message name="createUsuarioFamilia">
<part name="parameters" element="tns:createUsuarioFamilia"/>
</message>
<message name="createUsuarioAlumno">
<part name="parameters" element="tns:createUsuarioAlumno"/>
</message>
<message name="editUsuario">
<part name="parameters" element="tns:editUsuario"/>
</message>
<message name="checkToken">
<part name="parameters" element="tns:checkToken"/>
</message>
<message name="checkTokenResponse">
<part name="parameters" element="tns:checkTokenResponse"/>
</message>
<message name="removeUsuario">
<part name="parameters" element="tns:removeUsuario"/>
</message>
<message name="findUsuario">
<part name="parameters" element="tns:findUsuario"/>
</message>
<message name="findUsuarioResponse">
<part name="parameters" element="tns:findUsuarioResponse"/>
</message>
<message name="setToken">
<part name="parameters" element="tns:setToken"/>
</message>
<message name="setTokenResponse">
<part name="parameters" element="tns:setTokenResponse"/>
</message>
<message name="setPwd">
<part name="parameters" element="tns:setPwd"/>
</message>
<message name="setPwdResponse">
<part name="parameters" element="tns:setPwdResponse"/>
</message>
<portType name="UsuarioWS">
<operation name="createUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/createUsuario" message="tns:createUsuario"/>
</operation>
<operation name="findUsuarioPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioPorRequest" message="tns:findUsuarioPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioPorResponse" message="tns:findUsuarioPorResponse"/>
</operation>
<operation name="findAllUsuarios">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findAllUsuariosRequest" message="tns:findAllUsuarios"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findAllUsuariosResponse" message="tns:findAllUsuariosResponse"/>
</operation>
<operation name="autenticar">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/autenticarRequest" message="tns:autenticar"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/autenticarResponse" message="tns:autenticarResponse"/>
</operation>
<operation name="createUsuarioFamilia">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/createUsuarioFamilia" message="tns:createUsuarioFamilia"/>
</operation>
<operation name="createUsuarioAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/createUsuarioAlumno" message="tns:createUsuarioAlumno"/>
</operation>
<operation name="editUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/editUsuario" message="tns:editUsuario"/>
</operation>
<operation name="checkToken">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/checkTokenRequest" message="tns:checkToken"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/checkTokenResponse" message="tns:checkTokenResponse"/>
</operation>
<operation name="removeUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/removeUsuario" message="tns:removeUsuario"/>
</operation>
<operation name="findUsuario">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioRequest" message="tns:findUsuario"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioResponse" message="tns:findUsuarioResponse"/>
</operation>
<operation name="setToken">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/setTokenRequest" message="tns:setToken"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/setTokenResponse" message="tns:setTokenResponse"/>
</operation>
<operation name="setPwd">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/setPwdRequest" message="tns:setPwd"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/setPwdResponse" message="tns:setPwdResponse"/>
</operation>
</portType>
<binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="createUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUsuarioPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="autenticar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createUsuarioFamilia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="createUsuarioAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="editUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="checkToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setToken">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="setPwd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UsuarioWS">
<port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/UsuarioWS"/>
</port>
</service>
</definitions>