java.web/src/conf/xml-resources/web-service-references/PaisWS/wsdl/ws.huevoscopita.cl_80/webservice/PaisWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createPais" type="tns:createPais"/>

<xs:element name="editPais" type="tns:editPais"/>

<xs:element name="findAllPais" type="tns:findAllPais"/>

<xs:element name="findAllPaisResponse" type="tns:findAllPaisResponse"/>

<xs:element name="findPais" type="tns:findPais"/>

<xs:element name="findPaisPor" type="tns:findPaisPor"/>

<xs:element name="findPaisPorResponse" type="tns:findPaisPorResponse"/>

<xs:element name="findPaisResponse" type="tns:findPaisResponse"/>

<xs:element name="pais" type="tns:pais"/>

<xs:element name="removePais" type="tns:removePais"/>

<xs:complexType name="findPais">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPaisResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pais">
<xs:sequence>
<xs:element name="idPais" type="xs:decimal" minOccurs="0"/>
<xs:element name="nombrePais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removePais">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllPais">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllPaisResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPais">
<xs:sequence>
<xs:element name="nombre_pais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editPais">
<xs:sequence>
<xs:element name="id_pais" type="xs:int"/>
<xs:element name="nombre_pais" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPaisPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPaisPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:pais" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>