java.web/src/conf/xml-resources/web-service-references/MenuItemWS/wsdl/ws.huevoscopita.cl/webservice/MenuItemWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="MenuItemWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/MenuItemWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editMenuItem">
<part name="parameters" element="tns:editMenuItem"/>
</message>
<message name="findAllMenuItem">
<part name="parameters" element="tns:findAllMenuItem"/>
</message>
<message name="findAllMenuItemResponse">
<part name="parameters" element="tns:findAllMenuItemResponse"/>
</message>
<message name="findMenuItemPor">
<part name="parameters" element="tns:findMenuItemPor"/>
</message>
<message name="findMenuItemPorResponse">
<part name="parameters" element="tns:findMenuItemPorResponse"/>
</message>
<message name="removeMenuItem">
<part name="parameters" element="tns:removeMenuItem"/>
</message>
<message name="findMenuItem">
<part name="parameters" element="tns:findMenuItem"/>
</message>
<message name="findMenuItemResponse">
<part name="parameters" element="tns:findMenuItemResponse"/>
</message>
<message name="createMenuItem">
<part name="parameters" element="tns:createMenuItem"/>
</message>
<portType name="MenuItemWS">
<operation name="editMenuItem">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/editMenuItem" message="tns:editMenuItem"/>
</operation>
<operation name="findAllMenuItem">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findAllMenuItemRequest" message="tns:findAllMenuItem"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findAllMenuItemResponse" message="tns:findAllMenuItemResponse"/>
</operation>
<operation name="findMenuItemPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findMenuItemPorRequest" message="tns:findMenuItemPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findMenuItemPorResponse" message="tns:findMenuItemPorResponse"/>
</operation>
<operation name="removeMenuItem">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/removeMenuItem" message="tns:removeMenuItem"/>
</operation>
<operation name="findMenuItem">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findMenuItemRequest" message="tns:findMenuItem"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/findMenuItemResponse" message="tns:findMenuItemResponse"/>
</operation>
<operation name="createMenuItem">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/MenuItemWS/createMenuItem" message="tns:createMenuItem"/>
</operation>
</portType>
<binding name="MenuItemWSPortBinding" type="tns:MenuItemWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAllMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMenuItemPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="removeMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createMenuItem">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="MenuItemWS">
<port name="MenuItemWSPort" binding="tns:MenuItemWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/MenuItemWS"/>
</port>
</service>
</definitions>