java.web/src/conf/xml-resources/web-service-references/ParticipacionWS/wsdl/ws.huevoscopita.cl/webservice/ParticipacionWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="ParticipacionWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/ParticipacionWS?xsd=1"/>
</xsd:schema>
</types>
<message name="removeParticipacion">
<part name="parameters" element="tns:removeParticipacion"/>
</message>
<message name="cambiarEstadoParticipacion">
<part name="parameters" element="tns:cambiarEstadoParticipacion"/>
</message>
<message name="cambiarEstadoParticipacionResponse">
<part name="parameters" element="tns:cambiarEstadoParticipacionResponse"/>
</message>
<message name="createParticipacion">
<part name="parameters" element="tns:createParticipacion"/>
</message>
<message name="findParticipacionPor">
<part name="parameters" element="tns:findParticipacionPor"/>
</message>
<message name="findParticipacionPorResponse">
<part name="parameters" element="tns:findParticipacionPorResponse"/>
</message>
<message name="findParticipacion">
<part name="parameters" element="tns:findParticipacion"/>
</message>
<message name="findParticipacionResponse">
<part name="parameters" element="tns:findParticipacionResponse"/>
</message>
<message name="findFullAllParticipacion">
<part name="parameters" element="tns:findFullAllParticipacion"/>
</message>
<message name="findFullAllParticipacionResponse">
<part name="parameters" element="tns:findFullAllParticipacionResponse"/>
</message>
<message name="findAllParticipacion">
<part name="parameters" element="tns:findAllParticipacion"/>
</message>
<message name="findAllParticipacionResponse">
<part name="parameters" element="tns:findAllParticipacionResponse"/>
</message>
<message name="editParticipacion">
<part name="parameters" element="tns:editParticipacion"/>
</message>
<message name="findFullParticipacion">
<part name="parameters" element="tns:findFullParticipacion"/>
</message>
<message name="findFullParticipacionResponse">
<part name="parameters" element="tns:findFullParticipacionResponse"/>
</message>
<message name="findFullParticipacionPor">
<part name="parameters" element="tns:findFullParticipacionPor"/>
</message>
<message name="findFullParticipacionPorResponse">
<part name="parameters" element="tns:findFullParticipacionPorResponse"/>
</message>
<portType name="ParticipacionWS">
<operation name="removeParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/removeParticipacion" message="tns:removeParticipacion"/>
</operation>
<operation name="cambiarEstadoParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/cambiarEstadoParticipacionRequest" message="tns:cambiarEstadoParticipacion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/cambiarEstadoParticipacionResponse" message="tns:cambiarEstadoParticipacionResponse"/>
</operation>
<operation name="createParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/createParticipacion" message="tns:createParticipacion"/>
</operation>
<operation name="findParticipacionPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findParticipacionPorRequest" message="tns:findParticipacionPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findParticipacionPorResponse" message="tns:findParticipacionPorResponse"/>
</operation>
<operation name="findParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findParticipacionRequest" message="tns:findParticipacion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findParticipacionResponse" message="tns:findParticipacionResponse"/>
</operation>
<operation name="findFullAllParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullAllParticipacionRequest" message="tns:findFullAllParticipacion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullAllParticipacionResponse" message="tns:findFullAllParticipacionResponse"/>
</operation>
<operation name="findAllParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findAllParticipacionRequest" message="tns:findAllParticipacion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findAllParticipacionResponse" message="tns:findAllParticipacionResponse"/>
</operation>
<operation name="editParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/editParticipacion" message="tns:editParticipacion"/>
</operation>
<operation name="findFullParticipacion">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullParticipacionRequest" message="tns:findFullParticipacion"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullParticipacionResponse" message="tns:findFullParticipacionResponse"/>
</operation>
<operation name="findFullParticipacionPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullParticipacionPorRequest" message="tns:findFullParticipacionPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/ParticipacionWS/findFullParticipacionPorResponse" message="tns:findFullParticipacionPorResponse"/>
</operation>
</portType>
<binding name="ParticipacionWSPortBinding" type="tns:ParticipacionWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="cambiarEstadoParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findParticipacionPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullAllParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findFullParticipacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findFullParticipacionPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ParticipacionWS">
<port name="ParticipacionWSPort" binding="tns:ParticipacionWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/ParticipacionWS"/>
</port>
</service>
</definitions>