java.web/src/conf/xml-resources/web-service-references/AlumnoWS/wsdl/ws.huevoscopita.cl/webservice/AlumnoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" name="AlumnoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.cem.pft8461.duoc.cl/" schemaLocation="http://ws.huevoscopita.cl:80/webservice/AlumnoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="editAlumno">
<part name="parameters" element="tns:editAlumno"/>
</message>
<message name="removeAlumno">
<part name="parameters" element="tns:removeAlumno"/>
</message>
<message name="findAlumno">
<part name="parameters" element="tns:findAlumno"/>
</message>
<message name="findAlumnoResponse">
<part name="parameters" element="tns:findAlumnoResponse"/>
</message>
<message name="findAllAlumno">
<part name="parameters" element="tns:findAllAlumno"/>
</message>
<message name="findAllAlumnoResponse">
<part name="parameters" element="tns:findAllAlumnoResponse"/>
</message>
<message name="createAlumno">
<part name="parameters" element="tns:createAlumno"/>
</message>
<message name="findAlumnoPor">
<part name="parameters" element="tns:findAlumnoPor"/>
</message>
<message name="findAlumnoPorResponse">
<part name="parameters" element="tns:findAlumnoPorResponse"/>
</message>
<message name="seleccionarAlumnoFull">
<part name="parameters" element="tns:seleccionarAlumnoFull"/>
</message>
<message name="seleccionarAlumnoFullResponse">
<part name="parameters" element="tns:seleccionarAlumnoFullResponse"/>
</message>
<message name="seleccionarAlumnoFullPor">
<part name="parameters" element="tns:seleccionarAlumnoFullPor"/>
</message>
<message name="seleccionarAlumnoFullPorResponse">
<part name="parameters" element="tns:seleccionarAlumnoFullPorResponse"/>
</message>
<portType name="AlumnoWS">
<operation name="editAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/editAlumno" message="tns:editAlumno"/>
</operation>
<operation name="removeAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/removeAlumno" message="tns:removeAlumno"/>
</operation>
<operation name="findAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAlumnoRequest" message="tns:findAlumno"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAlumnoResponse" message="tns:findAlumnoResponse"/>
</operation>
<operation name="findAllAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAllAlumnoRequest" message="tns:findAllAlumno"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAllAlumnoResponse" message="tns:findAllAlumnoResponse"/>
</operation>
<operation name="createAlumno">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/createAlumno" message="tns:createAlumno"/>
</operation>
<operation name="findAlumnoPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAlumnoPorRequest" message="tns:findAlumnoPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/findAlumnoPorResponse" message="tns:findAlumnoPorResponse"/>
</operation>
<operation name="seleccionarAlumnoFull">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/seleccionarAlumnoFullRequest" message="tns:seleccionarAlumnoFull"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/seleccionarAlumnoFullResponse" message="tns:seleccionarAlumnoFullResponse"/>
</operation>
<operation name="seleccionarAlumnoFullPor">
<input wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/seleccionarAlumnoFullPorRequest" message="tns:seleccionarAlumnoFullPor"/>
<output wsam:Action="http://ws.cem.pft8461.duoc.cl/AlumnoWS/seleccionarAlumnoFullPorResponse" message="tns:seleccionarAlumnoFullPorResponse"/>
</operation>
</portType>
<binding name="AlumnoWSPortBinding" type="tns:AlumnoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="editAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAllAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createAlumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAlumnoPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seleccionarAlumnoFull">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seleccionarAlumnoFullPor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AlumnoWS">
<port name="AlumnoWSPort" binding="tns:AlumnoWSPortBinding">
<soap:address location="http://ws.huevoscopita.cl:80/webservice/AlumnoWS"/>
</port>
</service>
</definitions>