net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceFoto/FotoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="createFoto" type="tns:createFoto" />
  <xs:element name="editFoto" type="tns:editFoto" />
  <xs:element name="findAllFoto" type="tns:findAllFoto" />
  <xs:element name="findAllFotoResponse" type="tns:findAllFotoResponse" />
  <xs:element name="findFoto" type="tns:findFoto" />
  <xs:element name="findFotoPor" type="tns:findFotoPor" />
  <xs:element name="findFotoPorResponse" type="tns:findFotoPorResponse" />
  <xs:element name="findFotoResponse" type="tns:findFotoResponse" />
  <xs:element name="findInstanciaFoto" type="tns:findInstanciaFoto" />
  <xs:element name="findInstanciaFotoResponse" type="tns:findInstanciaFotoResponse" />
  <xs:element name="foto" type="tns:foto" />
  <xs:element name="removeFoto" type="tns:removeFoto" />
  <xs:complexType name="findFoto">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFotoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="foto">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="fechaSubida" type="xs:dateTime" />
      <xs:element minOccurs="0" name="idFoto" type="xs:decimal" />
      <xs:element minOccurs="0" name="idInstancia" type="xs:integer" />
      <xs:element minOccurs="0" name="nombreArchivo" type="xs:string" />
      <xs:element minOccurs="0" name="orden" type="xs:integer" />
      <xs:element minOccurs="0" name="tipo" type="xs:integer" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findAllFoto">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllFotoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createFoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="id_usaurio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_archivo" type="xs:string" />
      <xs:element name="orden" type="xs:int" />
      <xs:element name="id_instancia" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFotoPor">
    <xs:sequence>
      <xs:element minOccurs="0" name="campo" type="xs:string" />
      <xs:element minOccurs="0" name="valor" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findFotoPorResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editFoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="id_foto" type="xs:int" />
      <xs:element name="id_usaurio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre_archivo" type="xs:string" />
      <xs:element name="orden" type="xs:int" />
      <xs:element name="id_instancia" type="xs:int" />
      <xs:element minOccurs="0" name="titulo" type="xs:string" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findInstanciaFoto">
    <xs:sequence>
      <xs:element minOccurs="0" name="tipo" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findInstanciaFotoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:foto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeFoto">
    <xs:sequence>
      <xs:element name="entity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>