java.web/src/conf/xml-resources/web-service-references/EstadoPostulacionWS/wsdl/ws.huevoscopita.cl_80/webservice/EstadoPostulacionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.cem.pft8461.duoc.cl/">

<xs:element name="createEstadoPostulacion" type="tns:createEstadoPostulacion"/>

<xs:element name="editEstadoPostulacion" type="tns:editEstadoPostulacion"/>

<xs:element name="estadoPostulacion" type="tns:estadoPostulacion"/>

<xs:element name="findAllEstadoPostulacion" type="tns:findAllEstadoPostulacion"/>

<xs:element name="findAllEstadoPostulacionResponse" type="tns:findAllEstadoPostulacionResponse"/>

<xs:element name="findEstadoPostulacion" type="tns:findEstadoPostulacion"/>

<xs:element name="findEstadoPostulacionPor" type="tns:findEstadoPostulacionPor"/>

<xs:element name="findEstadoPostulacionPorResponse" type="tns:findEstadoPostulacionPorResponse"/>

<xs:element name="findEstadoPostulacionResponse" type="tns:findEstadoPostulacionResponse"/>

<xs:element name="removeEstadoPostulacion" type="tns:removeEstadoPostulacion"/>

<xs:complexType name="removeEstadoPostulacion">
<xs:sequence>
<xs:element name="entity" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoPostulacion">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPostulacion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="estadoPostulacion">
<xs:sequence>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
<xs:element name="idEstado" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEstadoPostulacion">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoPostulacionPor">
<xs:sequence>
<xs:element name="campo" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEstadoPostulacionPorResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPostulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEstadoPostulacion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEstadoPostulacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:estadoPostulacion" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEstadoPostulacion">
<xs:sequence>
<xs:element name="id_estado" type="xs:int"/>
<xs:element name="estado" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>