net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceUsuario/UsuarioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ws.cem.pft8461.duoc.cl/" targetNamespace="http://ws.cem.pft8461.duoc.cl/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="autenticar" type="tns:autenticar" />
  <xs:element name="autenticarResponse" type="tns:autenticarResponse" />
  <xs:element name="createUsuario" type="tns:createUsuario" />
  <xs:element name="editUsuario" type="tns:editUsuario" />
  <xs:element name="findAllUsuarios" type="tns:findAllUsuarios" />
  <xs:element name="findAllUsuariosResponse" type="tns:findAllUsuariosResponse" />
  <xs:element name="findUsuario" type="tns:findUsuario" />
  <xs:element name="findUsuarioResponse" type="tns:findUsuarioResponse" />
  <xs:element name="perfilUsuario" type="tns:perfilUsuario" />
  <xs:element name="removeUsuario" type="tns:removeUsuario" />
  <xs:element name="usuario" type="tns:usuario" />
  <xs:complexType name="findAllUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="findAllUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidoMat" type="xs:string" />
      <xs:element minOccurs="0" name="apellidoPat" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="creado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element minOccurs="0" name="idPerfilUsuario" type="tns:perfilUsuario" />
      <xs:element minOccurs="0" name="idUsuario" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="token" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="perfilUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPerfilUsuario" type="xs:decimal" />
      <xs:element minOccurs="0" name="nombrePerfil" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="removeUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findUsuario">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="findUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="createUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_pat" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_mat" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="perfil_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="editUsuario">
    <xs:sequence>
      <xs:element name="id_usuario" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_pat" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_mat" type="xs:string" />
      <xs:element minOccurs="0" name="email" type="xs:string" />
      <xs:element name="perfil_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticar">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="clave" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="autenticarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>