net.desktop/net.desktop/net.desktop.Windows/Service References/WebServiceUsuario/UsuarioWS1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://ws.cem.pft8461.duoc.cl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="UsuarioWS" targetNamespace="http://ws.cem.pft8461.duoc.cl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://ws.huevoscopita.cl:80/webservice/UsuarioWS?xsd=1" namespace="http://ws.cem.pft8461.duoc.cl/" />
    </xsd:schema>
  </types>
  <message name="autenticar">
    <part name="parameters" element="tns:autenticar" />
  </message>
  <message name="autenticarResponse">
    <part name="parameters" element="tns:autenticarResponse" />
  </message>
  <message name="editUsuario">
    <part name="parameters" element="tns:editUsuario" />
  </message>
  <message name="removeUsuario">
    <part name="parameters" element="tns:removeUsuario" />
  </message>
  <message name="findUsuario">
    <part name="parameters" element="tns:findUsuario" />
  </message>
  <message name="findUsuarioResponse">
    <part name="parameters" element="tns:findUsuarioResponse" />
  </message>
  <message name="findAllUsuarios">
    <part name="parameters" element="tns:findAllUsuarios" />
  </message>
  <message name="findAllUsuariosResponse">
    <part name="parameters" element="tns:findAllUsuariosResponse" />
  </message>
  <message name="createUsuario">
    <part name="parameters" element="tns:createUsuario" />
  </message>
  <portType name="UsuarioWS">
    <operation name="autenticar">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/autenticarRequest" message="tns:autenticar" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/autenticarResponse" message="tns:autenticarResponse" />
    </operation>
    <operation name="editUsuario">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/editUsuario" message="tns:editUsuario" />
    </operation>
    <operation name="removeUsuario">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/removeUsuario" message="tns:removeUsuario" />
    </operation>
    <operation name="findUsuario">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioRequest" message="tns:findUsuario" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findUsuarioResponse" message="tns:findUsuarioResponse" />
    </operation>
    <operation name="findAllUsuarios">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findAllUsuariosRequest" message="tns:findAllUsuarios" />
      <output wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/findAllUsuariosResponse" message="tns:findAllUsuariosResponse" />
    </operation>
    <operation name="createUsuario">
      <input wsam:Action="http://ws.cem.pft8461.duoc.cl/UsuarioWS/createUsuario" message="tns:createUsuario" />
    </operation>
  </portType>
  <binding name="UsuarioWSPortBinding" type="tns:UsuarioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="autenticar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="editUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="removeUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="findUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="findAllUsuarios">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="createUsuario">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="UsuarioWS">
    <port name="UsuarioWSPort" binding="tns:UsuarioWSPortBinding">
      <soap:address location="http://ws.huevoscopita.cl:80/webservice/UsuarioWS" />
    </port>
  </service>
</definitions>